[2019-09-18 20:27] #193 closed

[2019-09-18 21:56] l3pp4rd commented on #193
Yes seems like a misunderstanding ;)

[2019-10-08 15:44] ericmcbride commented on #161
I wrote a concurrent formatter, and run it in conjunction with the progress formatter.  I see the same bug above and was going to open up an issue.  I was going to suggest having a pointer to the parent/predecessor node, similar to other AST's i've seen. Not sure if this is the correct way to go about fixing the Node Method.  I was able to hack around and make my formatter work for my use case, bu

[2019-10-09 13:18] l3pp4rd commented on #161
yes @ericmcbride it would be much better to have a predecessor link in all the nodes. though, I sadly do not have time to work on my OS projects, too busy with family and work. Will have to delay the implementation

[2019-10-09 17:53] ericmcbride commented on #161
I wouldn't mind taking a crack at it @l3pp4rd.

[2019-10-10 06:31] l3pp4rd commented on #161
you are welcome @ericmcbride
in case if you see it is too much trouble, I may merge the https://github.com/DATA-DOG/godog/pull/191 which is not a very clean solution and would impact other formatters if we do support concurrency for them later

[2019-10-10 14:03] ericmcbride commented on #161
Im not sure how difficult this would be yet.  A co-worker and I have got pretty intimate with the AST and how it works right now, because we have a specialized use case for our concurrent formatter.
Do we want to open up a new Issue, since it is a blurry line if the fix is in scope with this issue?

[2019-10-17 10:41] inluxc commented on #189
Just use the same tag in all scenarios that you want to run.
Scenarios can have multiple tags.
Like: @sanityLoginBooking

But you will a problem with the order of execution.

I normally create a feature for each sequence of execution and yes I repeat scenarios for each execution.

[2019-10-18 13:29] kargakis opened #194 "godog steps linting"
Is there any easy way to lint source code to catch duplicate godog steps? We have been bitten a couple of times because godog matches steps defined in golang to features files and developers copy/paste golang steps across tests thinking the receiver defined in the new step will be used when it's the receiver in the step that godog matches first that is actually going to be used.

[2019-10-21 08:05] l3pp4rd commented on #194
Hi, at the moment godog just finds the first match. probably we could use `strict` mode to fail with an error in case if same definition signature is detected

[2019-10-21 18:58] slotaj opened #195 "Failed to compile"
Hello,

I have been trying to google this issue and have seen it happened in the past. I was unable to solve this and thought maybe I could reach out to you guys. When running godog I am getting the failed to compile testmain package: exit status 2 - output: error. I can't find import for vendor/github.com/DATA-DOG/godog but I can visually see it in my vendor folder

Godog version is: v0.7.13
go v

[2019-10-21 21:54] l3pp4rd commented on #195
Hi, maybe temporary you could use module dependency..
Also, can you tell the directory layout for your project, the vendor package works only if it is in GOPATH.
So if you have `$GOPATH/src/myproject/vendor/github.com/DATA-DOG/godog` it should compile fine, if not probably something broke with go 1.3 release built toolchain

[2019-10-27 17:10] erikdubbelboer commented on #195
Go 1.13 definitely broke things for godog. Having a `GOPATH` set always causes the ` I can't find import for` error. Running it like `GOPATH= godog` to unset `GOPATH` fixes the issue for now.

[2019-10-29 10:23] mdelapenya opened #196 "Skip features that are not selected by tags: i.e. logs and test life cycle (befores/afters)"
I noticed that Godog always prints all the features present in the project, although they are filtered by Cucumber tags

As an example:
[code]

I'd like to omit those features not selected to be run

[2019-11-05 17:26] mwywong opened #197 "Godog perform all test in subdirectory like go test ./..."
I have got my features within a directory structures that can be multiple level deep. From the root of the tress when I run "go test ./..." it will run through all tests.

Is there a similar way of calling godog that would traverse the directory structure like go test ./...

[2019-11-06 12:32] l3pp4rd commented on #197
godog cannot run all subpackages at the moment. it is not an easy problem. go test has only one representation of the output and it runs every subpackage individually. godog would need to combine the output. plus all the profiling tools do not work for multi package testing. if for instance you use the progress formatter, you can write a Makefile or something to run all the packages based on one c

[2019-11-06 16:18] RudolfVonKrugstein opened #198 "Can I pass command line arguments to my tests?"
I want to use godog to run appium tests. I want to run these tests under different contexts (android, iOS, tablet, phone).

There are slight variations in the initialization and step definitions depending on for which device and OS I am running the tests on.

Can I somehow pass arguments to my tests, so that the same test code can run for all devices?

[2019-11-07 12:04] l3pp4rd commented on #198
Hi, yes you can create any flags and extend godog flags if you want to customize it, best through `go test` look in the [guide](https://github.com/DATA-DOG/godog#running-godog-with-go-test) This then can be run with standard `go test` command. If you still want to use `godog` command, then you may need to compile one with your additional flags configured, based on the current [godog command line t

[2019-11-11 09:59] mwywong commented on #197
Thanks you for the explanation. Agree it become too complex for good use.

[2019-11-11 09:59] #197 closed

[2019-11-20 09:57] Mutated1994 commented on #195
Hello,

I have been trying to google this issue and have seen it happend in the past. I was unable to solve this and thought maybe I could reach out to you guys. When running godog I am getting the failed to compile testmain package: exit status 2 - output: error. I can't find import for "myproject/vendor/github.com/DATA-DOG/godog" but i can visually see it myproject vendor folder.

Godog version

[2019-11-22 09:23] rubencougil opened #199 "Is there any way to retry a failed scenario?"
Would be great to have a mechanism to retry n times if a tests had failed. Is there anything like this in godogs?

[2019-11-23 08:10] l3pp4rd commented on #199
Yes, you can run a single scenario as **godog features/scenario.fature:30**  where colon 30 is the line number of scenario. Progress or pretty formatter prints the line number of scenario so you can just copy it and run

[2019-11-23 08:13] rubencougil commented on #199
i mean, not just executing a simple scenario, but retrying it automatically if it fails because is flacky. Would be something like https://maven.apache.org/surefire/maven-surefire-plugin/examples/rerun-failing-tests.html

[2019-11-23 15:46] l3pp4rd commented on #199
No, there are no options to auto retry, you may do the auto retry on the individual step since you implement it, but in general, having flacky tests even with auto retries is not the recommended way to develop the test suites. If test can fail once it may fail more times in a row causing the same problems. Better resolve it in propper ways

[2019-11-23 15:48] l3pp4rd commented on #199
In case if you really want to go this path, fork and add the option

[2019-11-25 03:41] mpermperpisang opened #200 "Optional parameter when using and not using gherkin.DocString"
Hello,

I have 2 scenarios with similar step

**first scenario has this step**
`When client sends a GET request to "ENV:ENDPOINT"`

**second scenario**
[code]

**step definition**
`s.Step(`^client sends a ([^\"]*) request to "([^\"]*)"(?: with body:)?$`, apisteps.RequestAPI)`

**function RequestAPI**
[code]

everytime I run the first scenario it always say `Error: func expects 3 arguments, which i

[2019-11-25 05:48] l3pp4rd commented on #200
Seems like optional regex blocks are not supported. Maybe godog should check if it is a pointer type missing and pass nil instead (your case the third argument). Will need to check the default cucumber behavior

[2019-11-29 10:50] rolandmkunkel commented on #147
@agajdosi Did you create an upstream patch for your placeholder feature? I would be interested in using this functionality as well

[2019-12-17 14:51] inluxc opened #202 "Update Gherkin-go to last version"
We need to update the gherkin-go library to the latest version v.9.0.0, so we can fix problems like  #124, to add attachments to the step error messages.

[2019-12-17 14:55] inluxc opened #203 "Discord Server"
The project seems a bit stale, can we create a Discord Server, so we can chat about the project and show our work with it?

At my work we use godog every day, we are implementing in all our projects. they are more than 100 microservices. From API, Frontend and Database tests.

[2019-12-17 15:06] inluxc commented on #203
I took the liberty of creating one if anyone would like to join us.
https://discord.gg/zMtWpM

[2019-12-20 09:26] l3pp4rd commented on #202
Hi, integrating later gherkin version, would require protobuf dependency, in my opinion test related libraries should not have chains of dependencies.

Though, since I do not have time now to properly maintain this library, it may be considerable to move it to cucumber organization if there would be maintainers. they probably would instantly migrate it to recent gherkin version.

[2019-12-20 09:39] l3pp4rd commented on #202
will speak to the cucumber organization about migration of the repository and handing over the main maintenance.

[2020-01-05 21:56] #183 closed

[2020-01-10 12:46] jdwalker-emis commented on #180
@l3pp4rd I'm willing to do the work by duplicating and isolating features so features have only one scenario and/or scenario outline example - I'm planning a global isolation flag as well as the ability to set it on/off via tags on the feature level and on a scenario outline.

This will allow concurrency across scenarios to occur, but you can still define a particular feature to run all of its sce

[2020-01-10 18:54] l3pp4rd commented on #180
Hi, that may be useful for many users, if you have questions, let me know

[2020-01-19 14:15] lonnblad commented on #19
Made a PR for a suggestion to this issue.
#204

[2020-01-19 17:43] lonnblad commented on #202
@l3pp4rd hey, did you get a chance to talk to them?
if you would want to, I can help you to maintain the repo otherwise

[2020-01-19 18:32] lonnblad opened #205 "write output to a file"
What do you think about adding output options for writing the output to a file?

Something like this:
[code]

It would allow a user to see the progress status of the execution, but also write a junit formatted file.

[2020-01-31 11:58] l3pp4rd commented on #205
Hi, yes I think it is reasonable. just `--output-format` should not be necessary. because it may make sense to use multitple formatter outputs. probably better to have it in single parameter, like:

[code]

The separator could be different, but I think this should be a single parameter

[2020-01-31 11:59] l3pp4rd commented on #205
I gave you the contributor access to repository, since I do not find much spare time to contribute, looking forward to community more

[2020-01-31 12:00] l3pp4rd commented on #203
Hi, you can create the group and organize it, I do not have enough time to spare for all this.

[2020-01-31 12:01] l3pp4rd commented on #202
yes I've sent the email a month ago, but got no response yet, so probably it got lost or forgotten, will resend it again, and probably try other channels

[2020-01-31 12:34] l3pp4rd commented on #202
got the response fast today, will be moving it to cucumber organization, it should receive more proper maintenance!

[2020-02-03 19:45] #19 closed

[2020-02-03 21:17] lonnblad commented on #202
I have issues with the setup of the gherkin-go repo and the go guidelines.
[code]

From the go cmd documentation
[code]

https://golang.org/cmd/go/#hdr-Module_compatibility_and_semantic_versioning

[2020-02-03 21:29] lonnblad commented on #202
@l3pp4rd could you address this with the cucumber guys? it seems they don't have issues enabled on the gherkin-go repo.

[2020-02-04 12:04] aslakhellesoy opened #207 "New maintainers wanted!"
The creator of godog (@l3pp4rd) has stepped down as a maintainer and kindly donated the project to the cucumber GitHub organisation.

We're looking for one or more new maintainers. The tasks are roughly:

* Code! Scratch your own itch
* Keep dependencies uptodate
* Respond to GitHub issues/PRs in a timely manner
* Keep the CHANGELOG uptodate
* Make releases (Create git tags, update CHANGELOG)
* Ke

[2020-02-04 12:21] gophersumit commented on #207
I am willing to work as maintainer.

[2020-02-04 16:52] jaysonesmith commented on #207
:raises hand:

[2020-02-04 18:38] lonnblad commented on #207
me too

[2020-02-04 19:54] lonnblad commented on #205
I was planning to take a stab at this and see if I can sort it out

[2020-02-04 19:55] lonnblad commented on #202
I was planning to take a stab at this and see if I can sort it out

[2020-02-05 07:18] l3pp4rd commented on #202
may not be that simple, since there were changes in gherkin `Rule` added, the pretty formatter will change. though, would be best to find ways how to do it incrementally. maybe just supporting new lib and current gherkin features present. then next step after library is migrated, implement the new features, such as Rule keyword. Also later, based on other cucumber implementations, it seems to be b

[2020-02-05 07:21] l3pp4rd commented on #205
not sure if you still have write access, since repository now is in cucumber org. but probably @aslakhellesoy will be able to set that up

[2020-02-05 12:23] aslakhellesoy opened #208 "Set up CircleCI"
We're moving all repos in this org to CircleCI.

[2020-02-05 12:32] aslakhellesoy commented on #207
Thanks @gophersumit @jaysonesmith @lonnblad! I haven't had a look at the issues yet, but I did create #208 which is the first one that needs to be fixed. Anyone up for a PR for that?

Other ideas:

* Replace the gherkin parser with the [official one](https://github.com/cucumber/cucumber/tree/master/gherkin) - go mirror repo [here](https://github.com/cucumber/gherkin-go):
* Add support for [Cucumbe

[2020-02-05 21:00] lonnblad commented on #207
Just reading the README, it sounds like the Cucumber Engine could replace core parts of godog and that the main part of godog would then be output formatting

I don't know if there is concurrency support in Cucumber Engine, which exists in godog, at least on feature level and only for simple progress and JUnit formatting.

I am traveling this week, but I have started to look at replacing the gherk

[2020-02-05 21:02] lonnblad commented on #202
yep, agree

[2020-02-05 21:18] jaysonesmith commented on #207
I'm happy to take on #208 as I'm personally more familiar with Circle than I am godog's code at them moment. I'll be working on both my go & dev chops, so feel free to toss the lower hanging fruit my way.

[2020-02-06 03:49] jaysonesmith commented on #208
I've got the initial config going but need to get some go declarations and package locations switched over still, before things are passing.

[2020-02-06 11:26] lonnblad commented on #208
haven't used circle-ci for a few years, so I don't know what is possible/fairly easy todo these days.

but now we run the tests for go1.10 - go1.12, would be nice to add go1.13 as well

[2020-02-06 16:16] jaysonesmith commented on #208
I'm not familiar with Travis' config, so I'll need to look at how it's currently running the tests against older versions of go, good looking out @lonnblad! I've got 1.13 running in Circle now, link to build [here](https://circleci.com/gh/cucumber/godog/11)

I've also released v0.8.0 of godog updating package paths and whatnot away from the DATA-DOG org.

[2020-02-06 17:14] valanz commented on #207
:hand: I'd be glad to help!

[2020-02-06 22:06] smikulcik commented on #207
I'd be interested in helping!

[2020-02-07 01:43] jaysonesmith commented on #203
Hey @inluxc ! Thanks so much for taking the initiative to set this up! With the inclusion of the project under the wider Cucumber family, I'm actually going to ask that you join us in the Cucumber-BDD slack. :) I've also created a channel there specifically for help with godog. [Join here](https://cucumberbdd-slack-invite.herokuapp.com/)

[2020-02-07 01:43] #203 closed

[2020-02-07 04:07] jaysonesmith commented on #208
We're now testing 1.13, 1.12, and 1.11 with the more coverage that was being tested in Travis. I added in golint, too.

[2020-02-07 04:07] #208 closed

[2020-02-07 04:44] jaysonesmith commented on #198
@RudolfVonKrugstein Were you able to get things going as you needed? Another idea that might be viable is to set an env variable and check that in your functions.

If you're all set here, could you close this issue out please otherwise comment and let us know what's up. If neither happens, I'll close this issue in a week.

Thanks!

[2020-02-07 10:49] martin-flower opened #211 "readme instructions - should these show cucumber instead of DATA-DOG ?"
the readme says:

`go get github.com/DATA-DOG/godog/cmd/godog`

which leads to :

[code]

instead should this be:

`go get github.com/cucumber/godog/cmd/godog`

[2020-02-07 13:48] lonnblad commented on #211
Thanks for the issue Martin, there is a PR currently being worked on for this:
https://github.com/cucumber/godog/issues/211

[2020-02-07 15:05] titouanfreville opened #212 "Security error when getting v0.8.0 with go mod"
Hello,
I couldn't find the issue in the list so I open a new one.
When trying to add github.com/cucumer/godog with go mod, it raise a security error regarding the checksum server

[code]
I think you should be alerted on this :)
Was using github.com/DATA-DOG/godog until now without any issue.

[2020-02-07 15:06] titouanfreville commented on #212
When setting no checksum for cucumber/godog:
verifying github.com/DATA-DOG/godog@v0.8.0: checksum mismatch
        downloaded: h1:tA/nBoOKI7PfHbE9ATVwev8ZbfstOdlNpgDWvoI/u1w=
        sum.golang.org: h1:0Q9dkFbA08jkmv01VihDNo6HLUfvRjvP3eEF8jWA9vg=

SECURITY ERROR

[2020-02-07 15:51] titouanfreville opened #213 "Cannot build test suite after migrating to v0.8.0"
After passing #212 (adding cucmber/godog to the no check DB),
I cannot build my test suite anymore:
[code]

I made sure to clear all reference to `DATA-DOG/godog` from my code and rebuild modules description and vendor.

I'll try on a fresh project to check if it only happen when migrating or not.

[2020-02-07 17:27] jaysonesmith commented on #212
@titouanfreville Thanks for the heads up! It appears it's still trying to grab the data dog version for whatever reason. Hmm. Could you check through your project to see if there's anything that's still trying to pull from the old location that could be messing things up, please?

[2020-02-07 17:30] jaysonesmith commented on #213
I'm not certain the cause, but if removing references doesn't do it, could you try running `go clean --modcache` please?

[2020-02-07 19:20] inluxc commented on #212
Clean any trace of the old godog, in GOPATH/src, GOPATH/mod

And get the package again.
`go get github.com/cucumber/godog`

[2020-02-07 19:29] inluxc commented on #207
I will help also

[2020-02-07 19:53] lonnblad opened #215 "Missing Circle CI and Code Coverage feedback on Pull Requests"
With the change to Circle CI, we lost the build and coverage feedback on PR's.

[2020-02-07 21:35] jaysonesmith commented on #211
@martin-flower All set here. :)

[2020-02-07 21:35] #211 closed

[2020-02-07 21:35] jaysonesmith commented on #215
@lonnblad Good call!

[2020-02-08 10:46] titouanfreville commented on #212
Ok. Worked cleanly after cleaning all old references to DATA-DOG path.
Now have to solve https://github.com/cucumber/godog/issues/213

Thanks :)

[2020-02-08 11:15] titouanfreville commented on #212
Seems to also encounter it when downloading without goflags (to install it globally)

[code]

[2020-02-08 11:24] titouanfreville commented on #213
Ok. I just forgot the cmd was not installed through the module so it was not updated. Cleaning old CMD for new worked.
Thanks.

[2020-02-08 11:24] #213 closed

[2020-02-08 15:31] lonnblad commented on #205
@l3pp4rd thanks for thinking about me, I believe you are correct, but at least I'm in the committers-go slack channel for the cucumber community now

[2020-02-08 19:13] jaysonesmith commented on #212
Hey @titouanfreville, I'm not familiar with that method, could you point me to where that's suggested? Are you open to trying the current workaround [here?](https://github.com/golang/go/issues/30515#issuecomment-582044819)

[2020-02-10 06:50] #215 closed

[2020-02-10 08:42] titouanfreville commented on #212
@jaysonesmith I don't think the issue is related to https://github.com/golang/go/issues/30515#issuecomment-582044819 (though its certainly a nicer way to download dependencies with module and global reach (will try it)).
I still encounter the security warning when installing from `go mod` when I disable the `GONOSUMDB`.
Did you perhaps change the release code ? (Like published the release once the

[2020-02-10 17:53] jaysonesmith commented on #212
@titouanfreville Hey, good thinking! That might be it. I'll do a patch version and see if that helps.

[2020-02-10 18:03] jaysonesmith commented on #212
@titouanfreville I've released v0.8.1, could you give that a shot please and let me know how that goes for you?

[2020-02-11 08:10] devholic commented on #212
I had a same issue, but bumping godog version to 0.8.1 fixes this issue 🙂

[2020-02-11 08:18] luke-hill opened #221 "Minor cleanup: README"
This area of the readme needs some rework, W3C spec is now conformant on most browsers and we should be recommending people use selenium - Just point them to the drivers and use proper browsers. https://github.com/cucumber/godog#testing-browser-interactions

I know a few people said they wanted to help maintain, this would be a good first issue.

[2020-02-11 09:14] titouanfreville commented on #212
 @jaysonesmith Looks good. I could install it on another env without issue and update my working space without the sumdb env.

Thanks.

[2020-02-11 09:14] #212 closed

[2020-02-11 09:16] radtriste opened #222 "[Enhancement] Allow access to GherkinDocument.GherkinDocument and messages.Pickles from godog.Suite"
In our tests, before the suite is executed, we need to checks the features for specific tags.
The problem is that there is no way to get those from `godog.Suite`.

I understand you may not want to disclose the internal feature structure but it would be good to have a `getFeatures` method that would allow to get all gherkin features directly from the suite.

[2020-02-11 10:42] lonnblad commented on #222
Since we are in the development of migrating to https://github.com/cucumber/gherkin-go, v9.2.0.
I think we should wait with this one, because it will most probably get deprecated as soon as we are done with the migration.

[2020-02-11 15:36] coltiebaby commented on #222
I believe you can @radtriste.

If you set up a `BeforeFeature` inside your context, you should be able to get what you need.
We do something along the lines of this to check a workdoc to see if a test needs to be skipped.

[code]

Because we use scenario outlines, we can easily delete a row if we do not want to run it. Not sure what your tags will do but if they modify some value this should do it

[2020-02-11 15:41] radtriste commented on #222
I thought about that but in fact, depending on the tags used, the smoke tests may need or not an external binary. And I want to check that this binary is available (if I have some filtered features that need it) before the tests are launched. So I need to have the list of features/scenarios which will be executed.
I could just panic in before feature or before scenario if binary is not available b

[2020-02-13 09:41] lonnblad commented on #221
Hi

I haven't used Selenium for 2 years now and at my office, we instead use Cypress for this verification, adding Gherkin only as comments to our TCs.

Is there a good support for Gherkin in Selenium or are there any other reasons why we should promote Selenium over other tools?

[2020-02-13 15:01] dmholb01 opened #226 "Are the Gherkin steps resusable in other feature files?"
For instance if I have a feature file called login.feature and another feature file called payment.feature, and they need to share similar gherkin steps, (for example: 'Given I login to the application'), would godog allow it? Sorry new to understanding how godog works in comparison to how I've used cucumber in the past.

[2020-02-13 15:33] lonnblad commented on #226
Hi @dmholb01

Yes, you can reuse step definitions between multiple feature files.

[2020-02-13 19:29] dmholb01 commented on #226
Thanks and what about the step definitions that get generated by godog. If I have step definitions generated in login_test.go, would the steps be considered defined for payment.feature? Or would godog treat them as undefined since the steps are in login_test.go and not in payment_test.go. I don't know maybe I'm overthinking and confusing myself.

[2020-02-14 04:53] l3pp4rd commented on #226
No matter what name_test.go files are, within the same go package all steps are shared.

You can also create separate packages for importing with step definitions for focused logic like web browser page steps (these then can’t be in test files since you will import them in test.go file)

[2020-02-14 11:27] lonnblad commented on #226
There is no link between the filenames, so you can define your step definitions in one or multiple go-test files and have one or multiple feature files using them.

As long as the step definitions are registered with the executed test suite, they will be reused across all feature files.

In this example, you would be able to add more feature files that use the same step definitions or split up `go

[2020-02-17 09:40] alwindoss opened #228 "Running godog at the root of the project produces error "fork/exec <Project Root>\godog.test: %1 is not a valid Win32 application""
When I run `godog` in the root of the project I see the following error

Output of `go env` is:

[2020-02-17 09:44] alwindoss commented on #228
Identified the problem
The `GOOS` environment variable was set to linux

[2020-02-17 09:44] #228 closed

[2020-02-17 19:54] Automationrode opened #229 "New version broke the build - Getting failed to compile testmain package: exit status 2"
I upgraded godog to
Godog version is: v0.8.0 using `go get -u github.com/DATA-DOG/godog/cmd/godog`

Now if I try to run godog I am getting failed to compile testmain package: exit status 2

`$ godog
failed to compile testmain package: exit status 2 - output: /var/folders/nd/gr250x_x63ldbgkbqtz3s9xrnnz08m/T/go-build050675974/b001/_testmain.go:17:15: cannot use suite (type *"github.com/cucumber/godo

[2020-02-17 19:57] lonnblad commented on #229
Hi @Automationrode

Can you try to update your references from `github.com/DATA-DOG/godog` to `github.com/cucumber/godog` and reinstall godog with `go get -u github.com/cucumber/godog/cmd/godog`.

This has changed because godog has been moved from DATA-DOG to cucumber.

[2020-02-17 20:02] Automationrode commented on #229
Thanks for the quick response.
It works 👍  Great!!

[2020-02-17 20:02] #229 closed

[2020-02-20 10:23] sagikazarmark commented on #208
Maybe a little too late, but how about GitHub Actions? IMHO it's much better than CircleCI.

[2020-02-20 10:46] aslakhellesoy commented on #208
What do you find better @sagikazarmark ?

[2020-02-20 11:51] sagikazarmark commented on #208
GitHub actions is generally more stable in my opinion, the configuration is much more straightforward and easier to write/read and better integrated into GitHub (obviously) which makes a better overall experience.

[2020-02-24 11:18] lonnblad opened #230 "Update JUnit formatter to include more failure information."
We are currently missing
- testcase.failure.innerText
- testcase.system-out
- testcase.system-err

Would be good to add at least `failure.innerText` according to:
https://relishapp.com/cucumber/cucumber/docs/formatters/junit-output-formatter
https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd

[2020-02-25 14:17] m3talsmith commented on #207
🖐 I'm down to assist in maintenance as well!

[2020-02-25 14:28] aslakhellesoy commented on #207
That's amazing everyone! Once you have submitted a pull request and one of the existing maintainers have merged it you'll have access to the repo and can maintain away!

[2020-02-25 14:28] #207 closed

[2020-02-25 14:29] pranas commented on #207
I looked at contributing to this project to improve concurrency but it wasn't possible without significant API changes. The current API/design does not allow for scenario isolation. I would like to donate [my project](https://github.com/pranas/cucumber-go) to Cucumber org and encourage people to migrate. It has better API and it's based on cucumber-engine from Cucumber org (would love to re-use fo

[2020-02-25 17:20] jaysonesmith commented on #207
@pranas Seeing as our Go implementation is still v0.x.x, API changes are acceptable, though we should be mindful about how they're made. My ultimate goal for the project would be for it to mirror the other versions as closely as possible while also making sense from an effective go standpoint.

While godog is currently the official Go version and already being used by a number of folks, we can cer

[2020-02-25 18:44] pranas commented on #207
@jaysonesmith It's great to see this project getting attention. We've used godog for a long time but eventually our test suite was big enough that we wanted proper concurrency. I briefly looked at what it would take to implement that with godog but even if I changed the API the underlying structure was working against me and the whole codebase was pretty big to grasp. You're probably more familiar

[2020-02-25 21:14] mpkorstanje commented on #207
Isolating state per scenario rather then feature is should is the default for all other Cucumber implementations.

[2020-02-26 18:15] lonnblad opened #231 "JUnit formatter should output time without an s for seconds as a suffix"
What I get:
[code]

What I expect:
[code]

Based on `"Time taken (in seconds) to execute the test"` in:
https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd

[2020-02-26 18:16] lonnblad commented on #226
I believe the question was answered, so I will close this one. :)

[2020-02-26 18:16] #226 closed

[2020-02-27 16:32] cananac opened #233 "parseImport returns wrong path in Windows"
https://github.com/cucumber/godog/blob/4267df0fa9e060b4e613f1ca354d4e318259f039/builder_go110.go#L379

Hi,
parseImport function returns:
[code]
And in Windows, rawPath(```_/C_/Something/x-modules/test```) and mod.Dir(```C:\Something\x-modules```) are populated with different slash formats so mod.Dir cannot be trimmed and I get the error below as an expected result:
[code]

[2020-02-27 17:38] #231 closed

[2020-02-27 18:49] lonnblad commented on #233
Hi @cananac

Thanks for reporting the issue!
We will try to take a look at it as soon as possible and if you want to, feel free to submit a PR. :)

// Fredrik

[2020-02-27 19:21] lonnblad commented on #207
In general what I would like to do is to divide the codebase into more packages and make the formatters in general simpler.

I would suggest moving the conversation regarding concurrency on scenario level to #180.

But, my 2 cents would be that for the formatters we have concurrency support for as of now, it wouldn't be a huge work to add concurrency support for scenarios. The question is how we w

[2020-02-29 14:07] ericmcbride opened #237 "Custom Formatters not compatible with concurrency"
There was a recent Pr merged before cucumber got a hold of godog that broke the use of using concurrency with custom formatters.

In my opinion, the user who made the custom formatter should be responsible for making it safe to use concurrency, and not the library deciding all users cannot use concurrent custom formatters.  This is the main reason we haven't switched over from DATA-DOG, because co

[2020-02-29 14:26] ericmcbride commented on #237
https://github.com/cucumber/godog/pull/238

[2020-02-29 15:14] lonnblad commented on #237
Thanks @ericmcbride for reporting the issue and submitting a PR!

// Fredrik

[2020-02-29 15:14] #237 closed

[2020-02-29 18:17] lonnblad commented on #180
@mpkorstanje @jaysonesmith how do you feel regarding this one?

I'm thinking mostly regarding how we want to handle `BeforeFeature` and `AfterFeature`.

[2020-02-29 18:27] jaysonesmith commented on #180
I think how kleijnweb mentioned it in their last comment sounds good to me. Is that doable?

[2020-02-29 18:28] lonnblad commented on #180
yep, it would be doable

would it be consistent with other Cucumber implementations? do we care about that? :)

[2020-02-29 19:29] mpkorstanje commented on #180
I don't think any other Cucumber implementation supports feature hooks. The other implementations also don't share state between scenarios so there is little utility.

I do know that JUnit 5 has a model that allows tests to be organized in a hierarchy. This supports state isolation, parallel execution, and feature hooks. But it's anything but simple.

https://junit.org/junit5/docs/5.3.0/api/org/ju

[2020-02-29 21:19] lonnblad commented on #180
I would be okey with removing feature hooks, but I'm not sure how popular it is, l3pp4rd commented that it was "commonly used".

[2020-03-01 05:38] jaysonesmith commented on #180
I don't like the idea of continuing to support feature hooks, especially since the other implementations don't. We're working to bring the go implementation more in line and this seems counter to that. I think feature hooks also probably exist almost as a crutch for big heavy setup which can enable things on the automation side of implementation?

[2020-03-01 05:40] jaysonesmith commented on #180
I have an old baseline example of a godog suite [here](https://github.com/jaysonesmith/godog-baseline-example/blob/master/godog_baseline_example_test.go) and similarly in another suite would do larger setup in the Feature Context.

[2020-03-02 00:30] lonnblad commented on #180
I have branches for concurrency support of the pretty formatter and the events formatter, will probably work on Cucumber next week.

Then all the provided formatters would have concurrency support on Feature level.

[2020-03-03 19:07] #233 closed

[2020-03-05 21:27] dpangier opened #243 "Can't install godog due to `cannot find package "github.com/cucumber/gherkin-go/v9"`"
On installing godog, we get the following error:

[code]

[2020-03-05 21:34] jaysonesmith commented on #243
Thanks for the heads up! We'll get some info back to you when we can. :)

[2020-03-05 21:43] slb5427 commented on #243
I am also experiencing this same issue.  We install godog as part of our builds and we weren't running into the issue earlier in the day.  It just started.

[2020-03-05 21:59] Automationrode opened #244 "Getting cannot find package "github.com/cucumber/gherkin-go/v9""
Hi,

I am seeing this error while trying to install godog

`go get -u github.com/cucumber/godog/cmd/godog
package github.com/cucumber/gherkin-go/v9: cannot find package "github.com/cucumber/gherkin-go/v9" in any of:
	/usr/local/go/src/github.com/cucumber/gherkin-go/v9 (from $GOROOT)
	/go/src/github.com/cucumber/gherkin-go/v9 (from $GOPATH)
package github.com/cucumber/messages-go/v9: cannot find pa

[2020-03-05 22:02] #244 closed

[2020-03-05 22:04] lonnblad commented on #243
Hi

Could you help me with what version of go you are using, if you are running inside a $GOPATH and also if you are using any dependency management solution.

Thanks!
/ Fredrik

[2020-03-05 22:44] lonnblad commented on #243
@dpangier @slb5427 @Automationrode
We reverted the change, so hopefully it should work again now, sorry for any inconvenience.

[2020-03-05 23:15] lonnblad commented on #243
No problem, thanks for reporting!
Now I just have to figure out what the issue was. :)

[2020-03-05 23:15] #243 closed

[2020-03-05 23:49] dpangier commented on #243
* go version
go version go1.13.5 linux/amd64
* echo $GOPATH
/go
* pwd
/go
* which go
/usr/local/go/bin/go

No module/dependency management - as per @Automationrode these issues are occurring on a build server that has been working fine up until earlier today. (And now working fine again since the revert)

To duplicate the issue you can run inside a fresh docker container...
[code]

[2020-03-06 12:04] MarianMacik commented on #189
Hi guys, I have found by looking at the code and also by running `godog -h` this:

[code]

I can create a PR and document it better as this format is different to what Cucumber uses, they use `and`, `not` etc.

[2020-03-06 12:08] MarianMacik commented on #189
@lonnblad since there is no information about it in the documentation, can I proceed with a PR to at least mention how multiple tags can be run? Thanks.

[2020-03-06 12:16] lonnblad commented on #189
@MarianMacik yes, please do!

if you want to, you could also create a new issue to make it follow Cucumber format

[2020-03-06 14:24] #198 closed

[2020-03-06 15:38] slb5427 commented on #243
Seems to be working for us again thanks.
- go version
1.12.13, and while testing locally seen on 1.12.5

This error was seen while running on a GOPATH.

[2020-03-06 16:28] titouanfreville opened #248 "Fatal Error while injecting value after scenario compilation"
While implementing an helper library to manage rest api request (cf: https://github.com/ekino/veggies), I made a system witch can pick value and inject them. Doing so, I encounter fatal error when rendering test result with pretty formater.
The line length of the steps I injected the variables in surpassed the longest step without injection so it could not correctly insert the comment.

I propose

[2020-03-08 04:11] jaysonesmith commented on #221
We use Cypress as well. @luke-hill Do any of the other official implementations specifically point folks to Selenium?

[2020-03-08 04:29] jaysonesmith commented on #205
@lonnblad I'd really like to add writing to a file as a feature myself as there were times in the past I had wanted it. Lets make sure to follow the existing Cucumber implementations. This will unfortunately conflict with godog's existing o/out flag, but I'm okay with that as it brings it more in line with the other languages. I think this is important and want to do it as much as possible. If som

[2020-03-08 14:57] lonnblad commented on #205
the thing I like with l3pp4rd’s suggestion was that then I could run progress + JUnit, so I would get the feedback from progress, but JUnit as a file to be used against our test reporting

[2020-03-08 18:08] jaysonesmith commented on #205
That would still be possible. :)
[code]

[2020-03-08 19:04] lonnblad commented on #205
true, nice, would both be written to the same file or two different files?

[2020-03-08 19:04] jaysonesmith commented on #205
Progress would go to stdout and junit would be written to a file

[2020-03-08 19:26] lonnblad commented on #205
the progress and JUnit formatters will basically support this today, since both use the basefmt and JUnit creates its summary based on the basefmt without any internal properties in the JUnit formatter

[2020-03-09 08:36] luke-hill commented on #221
Selenium is the w3c standard and works within it, others I'm not so sure about.

Aside from JS, most languages wrap selenium, JS is the odd one out in that everyone seems to want to replace it. So try avoiding JS specific situations and just recommend it, or point them to w3c

Atm the only time we reference automation frameworks is capybara using selenium / rack test inside cucumber-rails / ruby o

[2020-03-09 11:44] lonnblad opened #249 "Add contributor and issue templates"
It would be good to add Contributor and Issue templates so that we can manage the work around PR's and Issues in a more structured way now that we are more maintainers and are moving godog to be more similar to the other Cucumber implementations

[2020-03-09 12:45] #189 closed

[2020-03-09 12:45] lonnblad commented on #189
@MarianMacik Thanks for the contribution!! :)

[2020-03-09 19:58] lonnblad commented on #248
Thanks @titouanfreville for the contribution!! :)

[2020-03-09 19:58] #248 closed

[2020-03-10 10:05] inluxc commented on #221
I use godog with [tebeka](https://github.com/tebeka/selenium) for Selenium Tests and they work great together.

[2020-03-10 14:44] mpermperpisang opened #252 "BeforeScenario using tag"
Hello,
if I run scenario using `godog --tags=@web`
can I add `s.BeforeScenario("@web")`?
it will only do something for @web tag. if I run `godog --tags=@mobile`, the BeforeScenario won't do anything

Thanks

[2020-03-10 16:49] lonnblad opened #253 "Notice - Make sure you install godog with a specified version due to breaking changes on master."
Hi

**We are doing a change to godog and its dependencies which might break your project.**
The breaking merge will happen on Monday, March, 23.

To mitigate the change for you, we suggest that you install and depend on a specific version and not the master branch.

To install a specific version:
[code]
Adding `@v0.8.1` will install v0.8.1 specifically instead of master.

If you are running within

[2020-03-10 16:58] lonnblad commented on #252
Hi @mpermperpisang, there is no way to that as of now.

What you can do is to get the tags of the scenario sent to the hook, but that would include all tags that are specified for that scenario, not just the once you add as an argument to godog.

BR
Fredrik

[2020-03-10 17:06] lonnblad commented on #253
@dpangier @slb5427 @Automationrode
heads up

[2020-03-10 17:55] slb5427 commented on #253
thank you for the heads up

[2020-03-10 18:00] lonnblad commented on #221
@inluxc interesting, looks nice! :)

The main reason we are using godog and cypress is due to that the backend developers work in go ergo godog and frontend developers work in js ergo cypress, so that they have an easier time.

[2020-03-10 22:27] lonnblad opened #254 "Concurrency Support for the Pretty formatter"
Since we want to have concurrency support to all formatters, we should also add it for the Pretty formatter.

[2020-03-10 22:27] lonnblad opened #255 "Concurrency Support for the Events formatter"
Since we want to have concurrency support to all formatters, we should also add it for the Events formatter.

[2020-03-10 22:28] lonnblad opened #256 "Concurrency Support for the Cucumber formatter"
Since we want to have concurrency support to all formatters, we should also add it for the Cucumber formatter.

[2020-03-10 22:35] lonnblad commented on #255
work in progress
https://github.com/cucumber/godog/tree/concurrent-events-formatter

[2020-03-10 22:36] lonnblad commented on #254
work in progress
https://github.com/cucumber/godog/tree/concurrent-pretty-formatter

[2020-03-11 03:08] #252 closed

[2020-03-11 07:50] l3pp4rd commented on #255
Hi @lonnblad I think the events formatter was experimental and is not used. It was made due to the draft for all cucumber implementations, but I do not know the state of it now. Maybe it is replaced by the common protobuf lib and gherkin. @jaysonesmith maybe you know more?

[2020-03-11 16:08] jaysonesmith commented on #255
I don’t offhand, but that sounds like it would make sense!

[2020-03-11 18:53] lonnblad commented on #255
I guess what would be replaced is the data structure, not really the formatter itself?

[2020-03-11 21:41] dougnukem opened #257 "godog generated code not handling float and negative values correctly"
This may be a misunderstanding of Cucumber/Gherkin/BDD, I'm trying to follow the Gherkin features defined for The Ray Tracer challenge book: https://pragprog.com/book/jbtracer/the-ray-tracer-challenge

e.g.
[code]
When I run `godog` it produces code that looks to be based on regexp that parses each digit as a \d and also seems to incorrectly capture the negative sign, resulting in weird go code.
[

[2020-03-11 21:53] dougnukem commented on #257
Or is godog just meant to provide guidance on matching feature expressions, it's possible for me to just manually write the FeatureContext and steps myself?

[2020-03-11 22:09] lonnblad commented on #257
Hey @dougnukem , yes, you can write your own FeatureContext.

The autocreated code is just to give you a suggestion to get going, but it could probably be better at matching float expressions.

Regarding matching floats, if you take this feature:
[code]

You could have a test file like this:
[code]

Regarding Cucumber expressions like `{float}`, I believe there is no such support as of now

[2020-03-12 12:39] electrofelix commented on #128
Seems that you can hook into Goland provided you use `Test_<Feature>(t *testing.T) { ... }` to run the test. Looks like Goland is hooking into the test runner at this level to inspect each test in order to track and report what has succeeded/failed on individual tests/subtests.

Maybe a note in the documentation to follow the pattern described at https://youtrack.jetbrains.com/issue/GO-5655#focus=

[2020-03-12 14:43] #186 closed

[2020-03-12 14:45] inluxc commented on #124
With the recent update, we can start thinking about implementing this issue.
It's quite important for test selenium based.

[2020-03-13 11:59] lonnblad commented on #256
work in progress
https://github.com/cucumber/godog/tree/concurrent-cucumber-formatter

[2020-03-13 15:18] dougnukem commented on #257
@lonnblad Thanks that worked great!

https://github.com/dougnukem/raytracer/blob/371f22fa42e89030a916fc09a548d0f2ab7d5824/tuple_test.go#L82-L97

`go test` results in a github action:
https://github.com/dougnukem/raytracer/runs/502120114#step:4:9

[2020-03-13 15:18] #257 closed

[2020-03-13 16:56] mdelapenya commented on #196
I noticed it also executes the before and after methods for any FeatureContext. I'd expect that those pints in the life cycle would be skipped because of the tag filter.

[2020-03-14 11:52] lonnblad commented on #249
Have added initial templates

[2020-03-14 11:52] #249 closed

[2020-03-14 22:25] denis-trofimov opened #261 "README.md example code have a bug that _examples/godogs/godogs_test.go don't have"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
If possible, provide a recipe for reproducing the error.

I follow the example in README.md
I did steps 1-4 copy-pasting code

### What did you expect to see?

$ godog
Feature: eat godogs
  In order to be happy
  As a hun

[2020-03-15 13:00] lonnblad commented on #261
Hi @denis-trofimov

Thanks for the issue, I believe the README.md was updated separately from a PR we merged, so when we reverted that PR, we missed to revert the README.md.

The example that the README.md is based on can be found [here](https://github.com/cucumber/godog/blob/master/_examples/godogs) as well.

[2020-03-15 13:03] lonnblad commented on #261
Updated the README.md, thanks again!

[2020-03-15 13:03] #261 closed

[2020-03-15 13:18] denis-trofimov commented on #261
My thanks to you, Fredrick, for maintaining this useable software!16:04, 15 марта 2020 г., "Fredrik Lönnblad" <notifications@github.com>:
Updated the README.md, thanks again!

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.
-- Отправлено из мобильного приложения Яндекс.Почты

[2020-03-16 09:22] denis-trofimov opened #262 "Bug then running the example of an API, a feature version need to bump to latest reported 0.8.1"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
If possible, provide a recipe for reproducing the error.

git checkout master
denis@x220:~/p/godog$ cd _examples/api/
denis@x220:~/p/godog/_examples/api$ godog

### What did you expect to see?

2 scenarios (2 passed)

###

[2020-03-16 10:44] #262 closed

[2020-03-16 23:45] mdelapenya commented on #196
I'm going deeper in the godog code to understand the lifecycle, and maybe I'm wrong: how the `RunWithOptions` method selects which FeatureContext to run?

I used `godog` directly but I'm thinking about moving to `go test`, but don't want to reinvent the wheel to parse the flags to discover tags and select the featurecontext (I have multiple go files providing steps, one per test suite).

Then I ha

[2020-03-19 17:08] #202 closed

[2020-03-21 05:44] slashfoo opened #267 "support a "go test" format"
**Desired feature description**
I use :GoTest from within vim and using the plugin https://github.com/fatih/vim-go; like with other tools (e.g. :make command in vim), they feed from the output having a specific format to populate a list of errors and provide navigation to erroring files:linenumber combinations.

In specific, if I run godog from within go test, it'd be ideal if it'd output lines th

[2020-03-23 10:44] lonnblad opened #269 "Some TCs are failing after the v0.9.0 release"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
[code]

### What did you expect to see?
PASS

### What did you see instead?
Some failed TCs with:
[code]

### Additional context
Add any other context about the problem here.
The same can be seen in CircleCI here:
https:/

[2020-03-23 12:17] #269 closed

[2020-03-26 01:06] aledbf opened #277 "[Question] custom snippets template"
Hi, is it possible to use a custom template and create a file instead of stdout?

[2020-03-26 09:19] lonnblad commented on #277
Hi @aledbf, thanks for the question!

We don't support writing to a file as of now, we are planning to add that.
Here is the discussion: #205

Could you explain a bit more what you were thinking regarding custom templates?

BR
Fredrik

[2020-03-26 11:53] #256 closed

[2020-03-26 11:53] #255 closed

[2020-03-26 11:53] #254 closed

[2020-03-26 12:18] aledbf commented on #277
:+1:

Sure, add boilerplate we need in order to reduce the required changes to the output
(like BeforeScenario inside FeatureContext)

[2020-03-26 19:35] aledbf commented on #277
@lonnblad related to #205, it could be possible to not run the tests but only check if the feature is in "sync"? Like just output the missing code without running the tests

[2020-04-03 20:07] veloandy opened #279 "Can't install godog due to `cannot find package "github.com/cucumber/gherkin-go/v11"`"
### What version of godog are you using?
n/a: failed to install

### What version of Go are you using?
[code]

### What did you do?
When rebuilding my ubuntu:18.04-based container that contains godog I started getting the following error. I did not get it earlier today:

[code]

### What did you expect to see?

Successful result of go get github.com/cucumber/godog/cmd/godog

### What did you see i

[2020-04-03 20:09] veloandy commented on #279
Just noticed note about pinning to a particular version https://github.com/cucumber/godog/issues/253 retrying...

[2020-04-03 20:23] veloandy commented on #279
Disregard. Fixed by setting `export GO111MODULE=on`, running `go mod init`, and then installing a specific version of godog with a command like `go get github.com/cucumber/godog/cmd/godog@v0.8.1` as described in the notice in #253

[2020-04-03 20:23] #279 closed

[2020-04-07 02:58] LinuxSuRen opened #280 "Binary file can be download from the GitHub release"
**Is your feature request related to a problem? Please describe.**
In my use case, I use godog as a command line. I always compile the source code into a binary file in my pipeline. It might bring some unknown problems.

**Describe the solution you'd like**
I was wondering if you can provide a binary file to let people download them directly.

**Describe alternatives you've considered**
None.

**A

[2020-04-08 19:12] mdelapenya commented on #196
Hey @l3pp4rd , any feedback here? 🙏

[2020-04-09 11:57] mdelapenya commented on #196
In the project I use godog we have different pieces/modules under the same project layout. Each of them is contributing a different set of steps in the form of a `func (s *godog.Suite)` function, and a structure representing the test suite for that piece. Each feature file is tagged with a tag, representing the module.

What I observe running `godog -t $module` is that all function are discovered

[2020-04-14 06:42] sithembiso opened #281 "can't find import: error on v0.9.0"
### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
I tried to install Godog using the instructions on the README. I ran the two commands:
[code]
Inside my project (go module)

And then outside them project `$GOPATH` I ran the following command:
[code]

### What did you expect to see?
I expected Godog to run without errors as it did b

[2020-04-14 07:38] titouanfreville commented on #281
@sithembiso (Just to be sure), did you check it was well installed with `modules` ? Does it appear in your go.mod and did you run `go mod vendor` ?
If so, how did you import it into your project ?

[2020-04-14 10:06] blazejkrzak opened #282 "Api context example is broken."
[code]

Here is my proposition. I do not have time for doing pull request and so on, but your example is terrible.

[2020-04-14 10:20] shubhamVishal4495 opened #283 "Can't find godog unix executable in bin folder."
I tried installing godog v 0.8.1 but after installing no godog executable is found in $GOPATH/bin.
Please have a look into this. What could have been wrong?

What version of godog are you using?
godog@v0.8.1
What version of Go are you using?
go1.13.10 darwin/amd64

What did you do?
go get github.com/cucumber/godog/cmd/godog@v0.8.1 it did not work so ran this
GO111MODULE=on go get github.com/cucumb

[2020-04-14 10:57] sithembiso commented on #281
Thank you for the reply @titouanfreville. Everything looks fine as far as I can see.
`go.mod`:
[code]
And yes I did run `go mod vendor` (see attached)
![Screenshot 2020-04-14 at 12 54 50](https://user-images.githubusercontent.com/6559905/79217435-26ff4080-7e4f-11ea-90bc-6802e94f2d0d.png)

I have a package with tests, and the imports look like this:
[code]

[2020-04-15 03:37] jaysonesmith commented on #196
Heya @mdelapenya thanks so much for passing along so much info! I'll take a look and see what I can find. Godog's been going through a lot of changes recently and there's definitely more that need to happen. As a heads up, l3pp4rd is heads down on other work unrelated to godog. Right now there's not many super active folks, so please bear with us, especially given the crazy time in the world right

[2020-04-15 03:41] jaysonesmith commented on #267
Hey @slashfoo - This is one of the few nonstandard Cucumber outputs that I'd like to officially support, but I can't promise any sort of timeline on when/if it'll be implemented. Our team is small, time-starved, and I assume trying to do what we can to make it through the world's craziness right now.

If you're open to and able to work on this yourself, I'd be happy to review the changes. If not,

[2020-04-15 03:45] jaysonesmith commented on #277
@aledbf Do you mean something like a dry run behavior?

[2020-04-15 03:46] jaysonesmith commented on #277
I'm not sure I follow what you're specifically asking about here, would you be able to give me an example, please?

[2020-04-15 06:51] jaysonesmith commented on #280
Heya @LinuxSuRen, I'm not entirely sure about whether this is currently possible, but thanks for putting it on our radar!

[2020-04-15 06:55] sithembiso commented on #281
Interesting thing @titouanfreville, I moved my whole repository out of the $GOPATH to my Desktop and ran `godog` from there and it worked. Any idea what could be the cause?

[2020-04-15 06:57] jaysonesmith commented on #282
Hi @blazejkrzak, thanks for pointing out that our example is broken. We'll make sure we get it fixed.

[2020-04-15 07:06] jaysonesmith commented on #283
Hi @shubhamVishal4495,

* Are you trying to install godog from **on** or **off** your GOPATH?
* Do you get any output when you try installing the package?
* Are you able to install 0.9.0?

I just tried to reinstall 0.8.1 and was able to do it successfully:

[code]

[2020-04-15 07:07] #37 closed

[2020-04-15 07:43] mdelapenya commented on #196
Thanks @jaysonesmith for the feedback! I've been reading the source code of the builder and, with my current knowledge of the codebase, I see it complex to couple the life cycle of the tags with the feature contexts defining the steps supporting that tag: the godog test binary inspects the exported contexts without taking runtime tags into consideration (i.e. this tag applies to these scenario/exa

[2020-04-15 09:05] titouanfreville commented on #281
It could be an issue on golang side. It looks like the import from modules vendor conflicts with the natural import from the GOPATH. https://github.com/golang/go/wiki/Modules#how-to-define-a-module

[2020-04-15 11:08] sithembiso commented on #281
Thank you for the resource, I think I missed a step. Following that guide has solved my issue. Closing...

[2020-04-15 11:08] #281 closed

[2020-04-15 12:36] aledbf commented on #277
Yes.

[2020-04-15 12:37] aledbf commented on #277
Closing. I solved this not using godog binary but with a custom one. Thanks

[2020-04-15 12:37] #277 closed

[2020-04-15 20:12] slashfoo commented on #267
@jaysonesmith I'm happy to read that there's at least interest in officially supporting it. I also have limited availability, but if I happen to make any progress before it ships, I'll be sure to tag this bug.

[2020-04-17 18:33] martin-flower opened #284 "boolean parameter"
As I understand it, it is possible to have numeric and string parameters in statements, such as:
`Then there should be 7 remaining`
Is it possible to have a boolean parameter, such as
`Then the response should be "true"`

[2020-04-17 19:01] jaysonesmith commented on #284
Heya @martin-flower!

There isn't a built-in way to do that, but the following should let you use a string to accomplish the same thing:

[code]

Let me know if that helps!

[2020-04-17 19:04] martin-flower commented on #284
Thanks Jaysone! Yes, this is what I've done, but wanted to check if there was a better way.

[2020-04-17 19:04] #284 closed

[2020-04-17 19:06] jaysonesmith commented on #284
Not currently! Perhaps something could be added with Cucumber Expressions at some point, but ultimately I think everything comes down to regex. :)

[2020-04-17 20:37] ericmcbride opened #285 "ConcurrentFormatter issue for custom formatters when combining builtin formatters"
We had a custom formatter that would run in the background, while progress formatter would be what was outputted to stdout. The code we used was based off what was found in this issue:
https://github.com/cucumber/godog/issues/130

We upgraded to the newer version of Cucumber's godog from the old godog (we are on 0.9.0) and now with the introduction of the ConcurrentFormatter interface, the Copy me

[2020-04-17 20:58] jaysonesmith commented on #285
Hey @ericmcbride! Thanks for bringing this up! I'm not particularly familiar with that section of things, but I've sent a link to this issue to someone who may be able to answer. He hasn't been able to work on the project as of late, but may be able to share something.

[2020-04-27 18:19] ericmcbride commented on #285
Any update?

[2020-04-27 18:28] lonnblad commented on #285
hey @ericmcbride, sorry for not answering before, would you be able to share the code of your custom formatter?

[2020-04-29 10:55] jamescooke opened #286 "Commenting out features causes nil pointer dereference"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]
Fails with both `go get` of `v0.9.0` and `master`.

### What version of Go are you using?
[code]

### What did you do?
Comment out all features in a feature file:

[code]

### What did you expect to see?

Either a warning that no feature was found, or silently skip. Godog should execute t

[2020-04-29 19:43] preetesh-sharma opened #287 "Issue on "go get github.com/cucumber/godog/cmd/godog""
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

[code]

[2020-04-29 20:06] jaysonesmith commented on #287
Hi @preetesh-sharma! Please take a look at this [pinned issue](https://github.com/cucumber/godog/issues/253) about installing a specific version as it should help you out based on your docker steps. Thanks

[2020-04-29 20:07] jaysonesmith commented on #287
If you're still experiencing issues installing afterward, please reopen this issue.

[2020-04-29 20:07] jaysonesmith commented on #286
Woah, that's certainly not desired. Thanks for pointing this out @jamescooke !

[2020-04-29 20:36] preetesh-sharma commented on #287
This doesnt fix the issue, I am doing loops here, I am trying to run godog in docker, I have an entire project built on godog,  I have been using it since Jan 2020, locally everything is working fine, but with the DockerFile content given above, this never works, even with a specific version, Can this be documented properly in readme.

[2020-04-29 22:00] jaysonesmith commented on #287
Hi @preetesh-sharma, I'm sorry you're frustrated about what's going on, I totally get it. :( Can you tell me if you're using go modules or some other dependency manager? Additionally, it looks like you've set up the project in your container to be **on** your gopath, I'd like to confirm that's how you intend it? Is this how you have things locally, as well?

I've spent a little time working on thi

[2020-04-30 09:16] preetesh-sharma commented on #287
Yes, I have the project set up in the go path locally and I am not using any dependency manager as of now.

[2020-04-30 12:32] #286 closed

[2020-05-04 19:05] jaysonesmith commented on #287
Hey, sorry I haven't gotten to this yet @preetesh-sharma !

[2020-05-05 07:50] lonnblad commented on #287
Hi @preetesh-sharma,

what happens if you change `RUN go get   github.com/cucumber/godog/cmd/godog` to `RUN GO111MODULE=on go get github.com/cucumber/godog/cmd/godog@v0.9.0`?

[2020-05-05 08:23] gradureaufcms commented on #287
I had the same problem but I was just getting started with godog.
I found out that the documentation provides examples relying on cucumber/gherkin-go (DataTable etc...) however godog generated code relying on google grpc (pickle table etc...).
I suspect that the current code base does not provide cucumber/gherkin-go anymore :]
Is this a breaking change ?

[2020-05-05 09:27] lonnblad commented on #287
godog needs both `cucumber/gherkin-go` and `cucumber/messages-go`, where gherkin-go is the gherkin parser and messages-go are the cucumber messages.

The generated code only depends on `messages-go`, since it doesn't need the gherkin-parser.

[2020-05-07 07:55] HabibMAALEM commented on #287
Hi,

Same issue here

[2020-05-07 08:46] lonnblad commented on #287
Hi @HabibMAALEM, do you have the same problem with docker or in general?

What happens if you do as the suggestion from Jayson and me? Using this:
`GO111MODULE=on go get github.com/cucumber/godog/cmd/godog@v0.9.0`

[2020-05-07 10:55] martin-flower opened #291 "tests in different folders - godog with more than one TestMain"
I can run tests using the command `godog`, and `go test` (with TestMain)

If I have two feature files, I can put them in separate folders, and run each one separately in their folder with `godog` or `go test`.

I can run both from the parent folder using `go test ./...`

I don't seem to be able to run all tests from the parent folder (was hoping that `godog ./...` would do this).

I am prevented f

[2020-05-10 10:56] martin-flower commented on #291
Currently it looks like I can choose between two options

1. All the tests are in the same package - build one executable for running tests in the release pipeline _without_ including godog binary in the application under test
2. Tests in separate packages; `go test ./...`; need to include godog binary in the application under test

I'm going with option **1**

[2020-05-18 15:09] mdelapenya commented on #205
Is there any progress on this? I see it key for CI automation, as any test generating logs in the application has to deal with parsing the output to extract junit/cucumber format from the log

[2020-05-29 22:21] caquillo07 commented on #287
Hello! Im having the same issue with gherkin, and using the flag doesnt seem to do the trick

[code]

[2020-06-07 12:42] lonnblad commented on #287
Hi @caquillo07, you are trying to install a pkg **gherkin**, which doesn't exist.

If you want to install godog as a binary, try using this instead:
`GO111MODULE=on go get github.com/cucumber/godog/cmd/godog@v0.9.0`

[2020-06-18 16:16] inluxc commented on #130
How did you import the custom formater into the godog? Did you build your own godog ?

[2020-06-18 16:38] inluxc commented on #285
Is there anyone working in this issue?

[2020-06-18 16:41] ericmcbride commented on #285
Sorry ive gotten busy with work!  Its literally the code from that issue + the new sync stuff thats required.  The formatter is still busted, we have been running it without concurrency but it sucks.

[2020-06-18 17:19] lonnblad commented on #285
@ericmcbride are you running the progress + cucumber formatters like in #130 ?

It might be that this is actually solved on master (no official release yet), when using the new TestSuiteContext and ScenarioContext.

The key differences in v0.10.0 to v0.9.0 will be concurrency support in all formatters, concurrency will be for scenarios instead of features and the feature hooks are gone.

[code]

[2020-06-18 17:20] lonnblad commented on #285
Also, I would really like if we could have a test suite for custom formatters, so that we don't break things for them.

[2020-06-18 17:27] lonnblad commented on #285
I will be out tomorrow, but other than that, if they need, have them give me a call or message me on slack and I can help them as well!

[2020-06-20 17:03] #180 closed

[2020-06-21 07:42] lonnblad commented on #285
Combined formatters have also been discussed here #205

[2020-06-21 07:44] lonnblad commented on #205
@mdelapenya not yet, I believe, I would like it though

If you would use it, how would you configure it?
progress on stdout with cucumber or junit to file?
or another combination?

[2020-06-21 07:50] lonnblad commented on #283
I will close this due to inactivity, please feel free to reopen.

[2020-06-21 07:50] #283 closed

[2020-06-21 07:52] lonnblad commented on #282
Hi @blazejkrzak, can you explain the problem with the API example?

[2020-06-21 07:58] mdelapenya commented on #205
I'd prefer having a junit output file to be processed by jenkins, i.e

[2020-06-21 08:02] lonnblad commented on #222
Hi @radtriste, would it be enough if you get them in a `BeforeScenario` hook?
I will get both the feature and scenario tags there.

[2020-06-21 08:04] lonnblad commented on #205
yep, sounds like the same use case that I have
do you also want the progress to stdout?

[2020-06-21 08:16] lonnblad commented on #291
Hi, sorry for not answering here as well, but I guess we took it offline.

As I understand the problem;
there is a need to run godog with different test configurations, therefor the need to use multiple TestMain. This would now result in multiple test runs, which creates multiple results and a CI system would prefer one result.

@martin-flower could you elaborate a bit more on why you need multipl

[2020-06-21 08:33] lonnblad commented on #161
I believe this has been solved, I ran the code in the issue and it behaves correctly with the latest version of godog.

[2020-06-21 08:33] #161 closed

[2020-06-21 08:34] lonnblad commented on #181
I believe this is related to #161, which I believe has been solved, I ran the code in #161 and it behaves correctly with the latest version of godog.

[2020-06-21 08:34] #181 closed

[2020-06-21 08:58] lonnblad commented on #196
What do you think, should we handle empty feature files in the same way?
@jaysonesmith @mdelapenya

[2020-06-21 09:40] lonnblad commented on #205
@jaysonesmith do you have an idea of how we link `--format` with `--out`?

I'm thinking that in the case someone writes:
[code]
[code]
[code]

[2020-06-21 09:53] mdelapenya commented on #205
For me it's not a requirement having the console output, unless the console formatter flag is present too

[2020-06-21 10:02] lonnblad opened #316 "the --random option is broken since v0.9.0"
# What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
Executed godog with the `--random` flag in the assert-godogs example.

### What did you expect to see?
That the scenarios would be executed out of order.

### What did you see instead?
That the scenarios was executed in order.

[2020-06-21 10:04] lonnblad commented on #287
I will close this due to inactivity, please feel free to reopen.

[2020-06-21 10:04] #287 closed

[2020-06-21 10:41] lonnblad commented on #205
Should we do something similar to how the go binary works?

- `godog build -o <binary>` for creating a test runner executable
- `godog run` for doing the same as `godog` does now

With this, we could also look at adding `godog fmt` or other functionality in the future.

[2020-06-21 16:44] martin-flower commented on #291
Let me see .. this was some time ago.

The question I think was splitting up the tests into different go packages. At the moment all tests are in the same package.  `go test ./...` runs tests in different packages, but `godog test ./...` does not. I would prefer to organise my code in different folders, as I do for `go test`.

[2020-06-21 19:22] #316 closed

[2020-06-22 07:05] radtriste commented on #222
Hello @lonnblad
My problem is that I want to be able to decide in the main part if tests can be run or not.
If the binary I mention in https://github.com/cucumber/godog/issues/222#issuecomment-584697747 is not present, then all the tests should not be executed and an error is reported.
The `BeforeScenario` will no be enough.

I need to be able to make a decision based on all scenario which ill be

[2020-06-22 10:30] blazejkrzak commented on #282
Implement that in your IDE I suggest Jetrbrains.
You can not directly inject that in your code and get it work without modifications

[2020-06-22 10:31] blazejkrzak commented on #282
Also step definitions were not generic

[2020-06-22 15:10] lonnblad commented on #222
Would you supply that tag when you execute the tests?
like: ```godog --tags "smoke-test"```

[2020-06-23 18:33] #196 closed

[2020-06-23 19:02] lonnblad commented on #195
I will close this due to inactivity, please feel free to reopen.

[2020-06-23 19:02] #195 closed

[2020-06-23 19:05] lonnblad commented on #192
I will close this due to inactivity, please feel free to reopen.

[2020-06-23 19:05] #192 closed

[2020-06-23 19:17] lonnblad commented on #129
I will close this due to inactivity, please feel free to reopen.

[2020-06-23 19:17] #129 closed

[2020-06-23 19:36] lonnblad commented on #169
I will close this due to inactivity, please feel free to reopen.

[2020-06-23 19:36] #169 closed

[2020-06-23 20:38] lonnblad opened #318 "Remove the code that was deprecated in v0.10.0"
Since some code was deprecated in v0.10.0 and marked to be removed in v0.11.0, I want to remove this code.

[2020-06-23 20:40] lonnblad opened #319 "Move the formatters to an internal package."
To create a bit more structure and to decouple the code base in the root directory of the repository, I would like to move the formatters to its own internal package.

[2020-06-23 22:38] aslakhellesoy commented on #319
We've started to do this over in the monorepo:

* https://github.com/cucumber/cucumber/tree/master/html-formatter
* https://github.com/cucumber/cucumber/tree/master/demo-formatter

The idea is to publish formatters as libraries. Their public API is a function that accepts a stream of cucumber messages. The formatter libraries can be used inside Cucumber implementations, but they can also be publis

[2020-06-24 09:51] lonnblad commented on #319
I believe that we should work towards moving the formatters to the monorepo as a long term goal, but my aim with this improvement is to continue the work to decouple different parts of godog, so it will be easier to work with whole project.

There are still issues with how godog does some things that need to be solved before we can use more of the cucumber messages, an example is that the timestam

[2020-06-27 13:21] lonnblad opened #320 "Clean up the example in README.md"
To keep the example in the README.md updated with the current go community, I would like to replace the mentions of GOPATH with the corresponding flow for go module.

[2020-06-27 13:35] lonnblad commented on #205
We have decided to implement equivalent to this:
`--format foo --format bar:bar.txt`
where the `foo` formatter would write to `stdout` and the `bar` formatter would write to `bar.txt`

[2020-06-29 06:38] #318 closed

[2020-06-29 17:57] radtriste commented on #222
The idea is that I have some tests annotated with `@cli` (and other tags as well).
and those can only be executed if the CLI binary is present on the machine it is executed, else they will fail.

But I don't want to execute everything and then the whole test fails because the CLI binary was not present (my full testing last almost 2 hours ...)
I want to be able to know if some tests with `@cli` ar

[2020-06-29 19:32] lonnblad commented on #222
got you, thanks!!
I will think a bit on how we could make this available.

[2020-06-30 09:24] radtriste commented on #222
Great thank you !

[2020-06-30 11:05] rickardenglund opened #324 "Pretty test report formatting"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
If possible, provide a recipe for reproducing the error.
Create a test case where a test step description is very long

### What did you expect to see?
No blank lines in the formatted output

### What did you see instead?

[2020-06-30 15:29] mdelapenya opened #325 "debugging with VSCode"
Is it possible to debug a godog scenario using breakpoints with VSCode? I could not find a way to do it, and I wonder if anybody had luck in doing that.

[2020-07-03 18:47] zhammer opened #328 "Request: option to provide features not from filesystem"
Hi, I'm curious if y'all would be up allowing a way to provide feature files to `godog.TestSuite` that is not just passing file paths. Our use case is that we'd like to package a test tool as a binary using godog and ship features as static files in the binary using https://github.com/markbates/pkger. Here we'd have he feature file bodies and names; however, the TestSuite wouldn't be able to parse

[2020-07-03 19:06] lonnblad commented on #328
Sounds interesting, maybe when building the godog testrunner we could have an include functionality that would embed the feature files you pass.

Something like: `> godog build -i -o godog.test features` would build a test runner binary which embeds the features dir.

[2020-07-03 19:25] zhammer commented on #328
Yep that’d be nice. We have our own golang cli that uses the godog package directly so wouldn’t immediately need the cli option, but I do like the idea of including packaged feature files in the godog cli tool itself

[2020-07-04 17:10] zhammer commented on #88
Bumping on this old issue. It would be great to be able to return errors from scenario / test suite fixtures.

Not sure what was decided on breaking changes, but happy to help with a PR.

[2020-07-08 19:12] #319 closed

[2020-07-13 17:49] MetalBlueberry commented on #325
what prevents you from running the code as regular go tests? just open the *_test.go file and press F5. everything should work.
You can place regular breakpoints in the implementation.

[2020-07-16 10:27] lonnblad commented on #88
Hi @zhammer

Not super up to date with this one, but if we do breaking changes to the hooks, I would like us to also look at a design that incorporates attachments, since that is a feature supported by other cucumber implementations and have been asked for here as well.

I'm not asking for an implementation of attachments, but I think we need a design that could be extended for it without more bre

[2020-07-17 07:47] lonnblad commented on #280
Hi @LinuxSuRen

Which operating system and platform are you interested in and how would you want to access the binary?
Would uploading the binary to the github release be sufficient?

[2020-07-17 07:51] LinuxSuRen commented on #280
@lonnblad Yes, it'll be perfect which I can download it from GitHub release page.

[2020-07-17 09:50] lonnblad commented on #280
@LinuxSuRen
Great, what Operating System and Platform would you want?
Linux and amd64? or something else?

[2020-07-17 09:54] LinuxSuRen commented on #280
We can use [goreleaser](https://github.com/jenkins-zh/jenkins-cli/blob/master/.goreleaser.yml) to achieve it.

[2020-07-17 10:03] lonnblad commented on #280
I just made a simple manual solution for now, but feel free to create a PR that would automate it using Circle-CI or improve the manual solution.

[2020-07-17 10:07] LinuxSuRen commented on #280
It's pretty easy. See also https://github.com/jenkins-zh/jenkins-cli/blob/master/.github/workflows/release.yaml

[2020-07-18 11:22] lonnblad commented on #328
Were you thinking something like:
[code]

and let your code read the content from pkger?

[2020-07-19 09:21] lonnblad commented on #280
If we want to use [goreleaser](https://goreleaser.com/) and automate the process, I think these links are good to look at:
- [quick-start](https://goreleaser.com/quick-start/)
- [circle-ci](https://goreleaser.com/ci/circle/)
- [homebrew](https://goreleaser.com/customization/homebrew/)

[2020-07-22 06:25] mdelapenya commented on #196
Adding context to this: I moved the project layout to a more standard one, so each feature context is under one test project. Therefore is a responsibility of the build system or the CI to run one or the other.

Thanks for your feedback here!

[2020-07-23 08:42] thamizhv commented on #164
I recently installed godog using `GO111MODULE=on go get github.com/cucumber/godog/cmd/godog@v0.10.0` as mentioned in [README](https://github.com/cucumber/godog#install)

I got the error when I tried to run `godog` command on features folder

[code]
Checked all existing issues and tried a lot but no luck.
After several tries, ran the command with `sudo` and it ran successfully.

Mentioning here so

[2020-07-25 12:46] lonnblad opened #334 "Automate build and upload of release binaries"
**Is your feature request related to a problem? Please describe.**
The process of building and uploading release artifacts is now manual and only supports a small number of operating systems and architectures.

**Describe the solution you'd like**
- Automate the process using Circle CI.
- Add more Operating Systems and Architectures.

**Describe alternatives you've considered**
-

**Additional con

[2020-07-25 12:55] lonnblad commented on #280
Uploaded darwin (amd64) and linux (amd64) for v0.10.0 and will start to upload darwin (amd64) and linux (amd64, arm64) for subsequent releases. I have also created another issue to automate the process #334.

[2020-07-25 12:55] #280 closed

[2020-07-25 13:04] lonnblad commented on #230
We need to define this issue better, so I will remove it from v0.11.0 for now.

[2020-07-27 16:30] jsliacan opened #335 "Why was BeforeFeature hook removed?"
**Is your feature request related to a problem? Please describe.**
Every Feature file can be a separate topic. So it makes sense to start each Feature with a clean slate. A `BeforeFeature` function (analogous to [`BeforeSuite`](https://github.com/cucumber/godog/blob/c99a04ca90cc4e9602333b18e703bc6eb98d1efb/test_context.go#L72), [`BeforeScenario`](https://github.com/cucumber/godog/blob/c99a04ca90cc

[2020-07-28 06:21] gbraad commented on #207
Why is concurrency essential? In most scenarios, where clear user steps are being handled, which are against a prepared environment, concurrency is not wanted.

[2020-07-28 06:44] gbraad commented on #335
I went over some of the issues and noticed the following:

   * https://github.com/cucumber/godog/issues/207#issuecomment-591072353
   * https://github.com/cucumber/godog/issues/180#issuecomment-593057725

the new maintainers prefer this to be closer to the other implementations of cucumber, and focus on concurrency of scenarios. The idea that this has to be like the other implementations makes so

[2020-07-29 12:43] mpkorstanje commented on #335
@jsliacan @gbraad

Cucumber is a tool to support BDD. However looking at  your ["End-to-end health check"](https://github.com/code-ready/crc/blob/459acbb88823faf099cde9519a954ea872d27c1a/test/integration/features/story_registry.feature) I think you both have a fundamental misunderstanding about what that means.

Rather then illustrating your feature with scenarios/examples in terms of your domain

[2020-07-30 06:05] gbraad commented on #335
LOL, @mpkorstanje you couldn't have picked a worst example. I totally agree that these tests would need to be rewritten.

But this is not the point I brought up. The BDD tests I talk about are those testing the behaviour as follows:

[code]

We would generally want to set up the environment `crc start` before the feature is tested, as the startup itself can take quite a while. Without a `beforeFea

[2020-07-30 07:26] mpkorstanje commented on #335
You can use a `Background` element to extract out the common steps. This does mean each scenario will start an empty cluster.

[code]

You can use conditional hooks (not written in go; not fluent enough yet) to act before each scenario tagged with `@empty-cluster`. If you tag the feature the hook should run before every scenario in the feature. The hooks are written in code so we add some smarts h

[2020-07-30 07:50] jsliacan commented on #335
@mpkorstanje, thanks for your time!

My main question remains unanswered though: **Why don't Features have before/after hooks**? This question is valid whether Scenarios are independent or not (I'll illustrate on an example below).

Imagine the entire Feature file is one Scenario Outline (independent by design):

[code]
When am I supposed to run the prep code (`buy veggies` and `turn the stove on`

[2020-07-30 08:39] gbraad commented on #335
important

The difference between a developer and administrator would be, so that
would be noise.
But yes, the 'empty cluster' (deployment) is noise and should be a
pre-existence (requirement) for the test to be able to happen, hence that
the beforeFeature was considered for this.
I'll have a look at your suggestions if this would work to do the
deployment in a more generic fashion without adding

[2020-07-30 08:51] luke-hill commented on #335
Technically your background in code is this

[code]

Which would be translated to

[code]

Then inside your step def / glue code. You would use generic coding techniques to ensure this expensive operation is only ever performed once. So inside your program thread you initialize the class or whatever is expensive, and then memoize the running of the expensive method.

This way it doesn't matter if

[2020-07-30 10:16] jsliacan commented on #335
@luke-hill fair point - that's a good workaround (simply insert `if` statement to Background). But as a design, I still don't understand why before/after Feature hooks are removed. I'm going to go through all the links @mpkorstanje listed and I'll see if I can understand your approach and necessity to remove Feature hooks. Feel free to close this issue, as it seems that before/after Feature hooks

[2020-07-31 07:52] luke-hill commented on #335
As mentioned previously. The arbiter in cucumber is the scenario. i.e. each scenario/example should decide what "it" does. Just because it is contained inside a feature makes 0 difference. Feature is literally just a wrapper.

If we allow features to have hooks, then where a scenario is nested, will have an impact on what it does. This breaks the TIL (Test Isolation Law - sometimes called Test Iso

[2020-07-31 17:39] l3pp4rd commented on #335
It is also always possible to **tag** features or individual scenarios, and they can be run by tag. That way you can build your test main the way that it runs groups of scenarios or features by tag.

Though, this would require it to be run separately for each tag filter, which needs a different VM started

[2020-08-03 11:56] jsliacan commented on #335
Yes, this makes sense. At the risk of over-discussing this, let me further refine my question: why was it decided to start applying TIL at the Scenario level and not at a higher level, e.g. Feature level. Clearly, Steps are exempt from TIL (TIL cannot apply to trivial building blocks because the whole test would need to be a single command). But why apply TIL at the very next level? It's very limi

[2020-08-03 13:52] luke-hill commented on #335
Whilst not my decision, one of the key reasons (I believe), is that the godog cucumber repo was "added" after the fact. i.e. it already had plenty of code.

Over the last 1-2 years cucumber has mainly been trying to approach a more uniform consistent set of "flavours". That is that a Java variety of cucumber should broadly be similar to Javascript, or Ruby (Where permissible).

The Test Isolation

[2020-08-03 19:28] jsliacan commented on #335
Thanks for your time @luke-hill - some good info & links in this thread. I agree with moving on:

[2020-08-04 07:41] #335 closed

[2020-08-14 09:40] ivoaxi commented on #164
Running sudo on `godog` nor `godog feature` did not help me. I still have the same error while having the same setup as you:

OS: macOS
go version go1.14.3 darwin/amd64
Godog version is: v0.10.0

[2020-08-14 10:33] nightlyone opened #336 "Godog suggests implementing step definitions using outdated API"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
Godog version is: v0.10.0

### What version of Go are you using?
go version go1.14.7 linux/amd64

### What did you do?
If possible, provide a recipe for reproducing the error.
I added a new features/foo.feature to my project and ran `godog .` for the first time in that project.

### What did you

[2020-08-15 04:32] snargleplax commented on #164
Ran into a similar issue today. We had a `go.mod` file that had not been specifying a version number, which had been fine because we'd never consumed this module as a dependency. When we finally did so, we had to add an explicit version number to `go.mod` and update all our import paths. After merging in that change, I noticed that our `godog` runs started failing locally (but not failing on our C

[2020-08-20 21:34] Bradbev opened #337 "How can I run a specific scenario in a feature file?"
Hi team,
I currently have an existing Gherkin based test system that allows scenarios to be run by name.  I'm trying to get the same sort of workflow from Godog and I'm struggling to see how to best implement it.  The basic workflow is that a file will contain more than one scenario, but I only wish to run one.  I intend to write a VSCode plugin that allows users to click on a scenario to run it.

[2020-08-28 09:25] AlexsJones commented on #336
I've noticed this too and it's something that's putting me off using the implementation currently.

[2020-08-28 17:13] PeterJFerrarotto opened #338 "godog --format=cucumber not including examples in output"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
`v0.10.0`

### What version of Go are you using?
`go1.13.10`

### What did you do?
I have a `Scenario Outline` with an `Examples` section, and I run `godog --format=cucumber (feature directory)/(file name):(test line)` (replacing stuff in parentheses with appropriate values). I've also tried jus

[2020-09-01 21:59] aslakhellesoy opened #339 "Implement HTML formatter"
Cucumber-JVM and Cucumber-Ruby now implement a `html` formatter based on the [standard html formatter](https://github.com/cucumber/cucumber/tree/master/html-formatter).

The implementations are here:

Java:

* [MessagesToHtmlWriter.java](https://github.com/cucumber/cucumber/blob/master/html-formatter/java/src/main/java/io/cucumber/htmlformatter/MessagesToHtmlWriter.java) (library)
* [HtmlFormatter

[2020-09-02 06:19] luqmanshahzad commented on #212
@titouanfreville, I am facing same issue when I use ./network.sh deployCC command while running the test-network. Can you please help me?
![Screenshot from 2020-09-02 11-12-33](https://user-images.githubusercontent.com/27766292/91938783-0c4e3b00-ed0e-11ea-90f8-b5e10ce6181c.png)

[2020-09-02 07:43] titouanfreville commented on #212
You have to change the version if you can.

The security error is due to a change to the modules after its first upload/download so the version of the commit stored by go is not the same one as the current downlodable one for `0.8.0`.
 You have to go to `0.8.1` if you wish to use this version.

If you cannot change the version of godog, you can just setup the variable `GONOSUMDB=github.com/cucumbe

[2020-09-03 13:01] dipaligulhane commented on #205
Hi there,
Tried using junit formatter for godog. On console I am getting expected output however while trying to save it file generating an error.
Can someone help with this.
==========
E:\migration\auto-go\src\features>go test -v -timeout 12h --godog.format=junit:myresults.xml --godog.tags=@test feature_files\
unregistered formatter name: "junit:myresults.xml", use one of: junit, pretty, progress

[2020-09-03 13:09] mdelapenya commented on #205
Did you try with "--godog.format=junit"? Then capture the XML output with bash.

What is described in this issue if for the future implementation I guess

[2020-09-04 09:52] eloo opened #340 "Print definitions in v0.10.0 is broken"
### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
Running `godog -d` with a code snippet like this
[code]

### What did you expect to see?
I expect to see my definition.
In this case no definition should printed.
But also with a step defined you will get an error.

### What did you see instead?
[code]

### Notes
I've tested the -d c

[2020-09-04 16:27] brpaz commented on #205
This would also be useful with the cucumber formatter.

Right now, it´s just printing the cucumber.json to stdout. Even if I try to redirect the output to a file, it doesn't contain only the json but all the other output from go test, application logs, etc, making it unusable.

[2020-09-04 16:52] aslakhellesoy opened #341 "Implement message formatter"
The Cucumber JSON format is deprecated in Cucumber-Ruby, Cucumber-JVM and Cucumber-js. The recommended replacement is [cucumber-messages](https://github.com/cucumber/cucumber/tree/master/messages).

It would be great to implement support for this in godog, and deprecate the cucumber formatter (The other Cucumber implementations call it the `json` formatter).

[2020-09-04 16:54] aslakhellesoy commented on #341
Related issues: #338 #124 #205

[2020-09-05 19:39] josephribeirosantos opened #342 "godog installation error(Windows and Mac)"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

go version go1.15.1 windows/amd64

### What did you do?
If possible, provide a recipe for reproducing the error.
insert the command in the terminal: go get github.com/DATA-DOG/godog/cmd/godog

### What did you expect to see?
godog installed

### What did you see instead?
the command go g

[2020-09-11 18:50] andrewesweet commented on #124
What’s the current thinking on how we’d like to expose this? Is there a suggested API, for example?

[2020-09-23 14:44] mdelapenya commented on #205
Hi 👋 is there an ETA for this?

[2020-09-23 16:03] mdelapenya opened #343 "List all existing tags"
Hi! I'd like to know iff it's possible to list all existing tags, the same way it's possible to list all the step definitions.

[2020-09-23 16:06] aslakhellesoy commented on #343
No, you'd have to write your own tool to do that.

Please use the [support](https://cucumber.io/tools/cucumber-open/support) forums for questions and discussions. We use GitHub issues to track bugs and contributions exclusively.

[2020-09-23 16:06] #343 closed

[2020-09-23 18:29] mdelapenya commented on #343
Ah sorry, I did not know about those forums, I'll take a look there first. Thanks!

[2020-09-23 23:23] aslakhellesoy commented on #205
@mdelapenya people are working on this in their spare time so I don't think that's an appropriate question.

[2020-09-24 08:23] mdelapenya commented on #205
@aslakhellesoy sorry if you considered it un-appropriate question, that was not my intention of course. I know what working in open source means and I try to be polite any time I talk to maintainers. So at no reason I was trying to cause offence and I apologize if that was the case.

I'm looking forward to using this new feature, because I have to deal with [ugly hacks](https://github.com/elastic/

[2020-10-02 15:02] MrRickSan opened #344 "failed to compile testmain package when running example"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
I was trying to run the example in `github.com/cucumber/godog/_examples/godogs` like this:
[code]

### What did you expect to see?
The test results, the tests ran successfully.

### What did you see instead?
The following

[2020-10-03 20:41] MrRickSan commented on #344
Just got it working when using:
`❯ GO111MODULE=off godog`

[2020-10-04 06:27] lonnblad commented on #344
Hey @MrRickSan, thanks for reporting!

Are you running the godogs example from within the $GOPATH?
I'm thinking that maybe we should look at the documentation around this.

[2020-10-04 06:54] lonnblad commented on #336
Hey @nightlyone, thanks for reporting!

[2020-10-04 06:57] lonnblad commented on #338
Hey @PeterJFerrarotto, thanks for reporting the issue!

Would you be able to create a gist with code that reproduces the issue?

BR Fredrik

[2020-10-04 07:08] lonnblad commented on #205
Hey @dipaligulhane @mdelapenya @brpaz

We have a few remaining issues for [v0.11.0](https://github.com/cucumber/godog/milestone/5) before it can be released.
Regarding Cucumber support, it will support all the built-in formatters.

[2020-10-04 07:10] lonnblad commented on #340
Hej @eloo, thanks for reporting!

BR Fredrik

[2020-10-04 07:14] lonnblad commented on #342
Hey @josephribeirosantos, thanks for reporting the issue!

Can you try running `go get ...` with `GO111MODULE=off`.

BR Fredrik

[2020-10-04 07:23] lonnblad commented on #337
Hey @Bradbev

I believe you can achieve what you want already today, godog has support for running scenario by line number.
`godog features/godogs.feature:7`

BR Fredrik

[2020-10-04 07:48] lonnblad commented on #337
Also, I would personally love to have this plugin! 😄

[2020-10-04 08:24] Bradbev commented on #337
@lonnblad  - Thanks!!  I'll keep the group informed if I manage to make my plugin :)

[2020-10-04 19:12] Bradbev commented on #337
Seems I was too excited.  I don't use the godog binary to launch my tests - instead I fold them into my own code and launch using godog.RunWithOptions.  (I'm on godog 0.9.0).  I can't obviously see how to specify the line.  I'll go digging through the godog code, but was wondering if you knew off hand how that worked.

[2020-10-05 12:53] Babitabisht commented on #212
@titouanfreville  thanks, this solved the issue

[2020-10-05 13:05] josefinkarlssonn opened #345 "Trouble with github.com/cucumber/gherkin-go/v11"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
If possible, provide a recipe for reproducing the error.

Im trying to use command godog and feature written out

### What did you expect to see?
I expected to see some kind of result writing out the feature

### What did

[2020-10-05 15:18] MrRickSan commented on #344
Yes, it was withing the $GOPATH

[2020-10-05 17:15] lonnblad commented on #345
Hey @josefinkarlssonn

It looks like there is a strange conflict between the installed godog binary and godog in src.
godog v0.8.* doesn't have a dependency to gherkin-go

If you need to stay on version `0.8`, could you try and upgrade to `v0.8.1`
`go get -u github.com/cucumber/godog/cmd/godog@v0.8.1`

BR Fredrik

[2020-10-05 17:17] lonnblad commented on #344
Thanks, makes sense, I will reopen the issue and make sure we add this to the documentation.

[2020-10-05 17:18] lonnblad commented on #212
Thanks @titouanfreville!

[2020-10-05 18:53] lonnblad commented on #337
Sure, if you look in the `Options` struct, you will see a property: `Paths []string`, set it to `[]string{"<file_name>:<line_number>"}` for the file and line you want to run

[2020-10-05 19:43] Bradbev commented on #337
Ah, I got it working!  Entirely my fault - I was expecting something more explicit in the Options struct.  I also do some feature pre-processing, which was messing up on the line number.  And finally, I was trying to run an Example by line number, not a Scenario.
Thanks very much!

[2020-10-05 19:43] #337 closed

[2020-10-05 20:13] josefinkarlssonn commented on #345
Thank you for answering.
I have now tried that command but still get the same error.. Can I somehow delete the old version and reinstall v.0.8.1?

The error is happening in file /go/src/github.com/cucumber/godog/internal/parser/parser.go:13:2, and the import statement contain v11..

[2020-10-05 21:01] lonnblad commented on #337
Technically, the godog backend would have support for just running one specific example, but I don't believe that is supported by the API nor the CLI as of now.

Maybe a future improvement to godog and the plugin...

[2020-10-06 06:19] lonnblad commented on #345
if you try and remove `../go/src/github.com/cucumber/godog` and then run `go get github.com/cucumber/godog/come/godog@v0.8.1` again?

[2020-10-06 06:20] lonnblad commented on #345
you can also remove `../go/bin/godog` before reinstall

[2020-10-06 06:59] lonnblad commented on #345
if it doesn't work, can you run `go env` as well and paste the result

[2020-10-06 08:16] josefinkarlssonn commented on #345
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/josefin/Library/Caches/go-build"
GOENV="/Users/josefin/Library/Application Support/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOINSECURE=""
GOMODCACHE="/Users/josefin/go/pkg/mod"
GONOPROXY="github.com/X"
GONOSUMDB="github.com/X"
GOOS="darwin"
GOPATH="/Users/josefin/go"
GOPRIVATE="github.com/X"
GOPROXY="https://proxy.golan

[2020-10-06 08:22] lonnblad commented on #345
did it work to remove the godog folder and binary and then reinstall godog?

[2020-10-06 08:44] josefinkarlssonn commented on #345
Now the error is gone, it says no scenarios and no steps when i run godog but that is another problem to dive into :)

Thank you very much for all the help, have a beautiful day!

[2020-10-06 09:06] lonnblad commented on #345
sweet, happy to help!

have a nice day!

[2020-10-06 09:06] #345 closed

[2020-10-09 07:39] lonnblad opened #346 "Use multiple formatters in the same test run"
**Is your feature request related to a problem? Please describe.**
When running the JUnit and Cucumber formatters, I don't get any feedback.

**Describe the solution you'd like**
To be able to use multiple formatters so that I can run the Progress formatter next to JUnit/Cucumber.

**Describe alternatives you've considered**

**Additional context**

[2020-10-09 07:40] lonnblad commented on #205
I will close this issue and have created another issue to add support for executing multiple formatters in the same test run.
#346

[2020-10-09 07:40] #205 closed

[2020-10-09 08:11] lonnblad opened #348 "Fix the testing of the randomize flag so that it becomes stable"

[2020-10-12 07:14] #320 closed

[2020-10-12 16:41] lonnblad commented on #340
I believe this was an issue with some deprecated code, which is now removed and when using the master version, `godog -d` now works.

[2020-10-12 16:41] #340 closed

[2020-10-13 15:08] hansbogert opened #351 "What is the use of calling testing.M.Run() in TestMain?"
in the [faq](https://github.com/cucumber/godog#user-content-running-godog-with-go-test) there is an example of TestMain

However it calls `testing.M.Run()`, I'm not sure this adds anything useful, in our case it's even detrimental as it does not handle the situation well  when running with Go's `-race` option in combination with the env variable `GORACE=exitcode=0`.
Also it always seems to cause w

[2020-10-13 17:23] lonnblad commented on #351
Hey @hansbogert

Good question, to be honest, I'm not sure why that is in the FAQ.

`testing.M.Run()` would execute all tests in your pkg, so I would assume it was added to the FAQ to show how you can execute godog next to your normal tests.

Maybe we should add a more describing text?

[2020-10-13 17:46] lonnblad commented on #344
@MrRickSan, if you want to have a look: #352 :)

[2020-10-13 19:08] hansbogert commented on #351
I am far from a good comment writer, but see

https://github.com/cucumber/godog/pull/353

We could also opt for just mentioning it somewhere once as a code snippet and  removing it at all the current places.

[2020-10-13 22:13] MrRickSan commented on #344
Thank you @lonnblad,  welcome improvement!

[2020-10-14 05:30] #351 closed

[2020-10-14 06:39] #336 closed

[2020-10-14 07:57] #344 closed

[2020-10-14 11:07] #348 closed

[2020-11-03 09:00] Lewiscowles1986 opened #357 "test-level context"
**Is your feature request related to a problem? Please describe.**

I would like to be able to test an application e2e, and maintain state between steps blackbox

**Describe the solution you'd like**

Each test to have their own ability to define a context (probably it's shape too using custom struct) which allows steps to communicate.

**Describe alternatives you've considered**

I Haven't... I'm

[2020-11-03 10:13] lonnblad commented on #357
Hi @Lewiscowles1986

I would suggest to have a look at the [api-example](https://github.com/cucumber/godog/blob/master/_examples/api/api_test.go).

You should be able to share state between steps using a struct like this:
[code]

Since the scenarios run concurrent, the apiFeature variable will only live within the context of one scenario.
[code]

If you want too, you can also head into the [#help-

[2020-11-03 13:51] Lewiscowles1986 commented on #357
I had looked but clearly the syntax was new too 😊 apologies, and thank you!

[2020-11-03 14:34] lonnblad commented on #357
no need, happy to help!

[2020-11-04 14:50] yuseferi commented on #325
how about the goland?
because there is no main func there, the run is not activated by default.
how can I debug godog in goland?

[2020-11-07 15:59] jamesethatcher opened #358 "input/output error when running GoDog after fresh install"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
If possible, provide a recipe for reproducing the error.

Install GoDog on Mac OS 10.15.6:

`GO111MODULE=on go get github.com/cucumber/godog/cmd/godog@v0.10.0`

Run GoDog in project root:

`~/go/bin/godog`

### What did y

[2020-11-08 16:08] #357 closed

[2020-11-23 22:52] tylerauerbeck commented on #100
Sorry to revive an old issue here. Is this issue still valid? Or is there a way to use testing.T now?

[2020-11-24 17:29] lonnblad commented on #100
Hi @tylerauerbeck, no need to be sorry and I think the issue is still valid.

I would definitely like to look at doing something like @creack is suggesting, but we are a pretty small group that is currently maintaining and developing godog and we haven't prioritised this yet. If you are interested in doing some work, I would be happy to collaborate! 😄

[2020-12-02 09:02] jlorgal opened #360 "Adding context to steps"
**Is your feature request related to a problem? Please describe.**
We want to generate a library with some common steps. For example, a step that sends a REST request, a step that checks the status code, a step that validates the response, and a step that checks a HTTP header from the response. In this way, we could reuse some common steps.
However, godog only passes the regex parameters as argume

[2020-12-05 15:10] lonnblad commented on #358
Hi @jamesethatcher

Unfortunately, I don't recognise this issue.

A few questions
Is your project root in the `$GOPATH`?
Is this your project root `/Users/<USER>/Desktop/godog`?
Do you use `go.mod` or another dependency manager?

BR
Fredrik

[2020-12-05 17:40] lonnblad commented on #360
Hi @jlorgal, I like the idea!

[2020-12-10 17:06] titouanfreville opened #365 "Test - Improve unit testing using test helpers library"
While working in the repository, it fells quite hard to add clean unit test.

As all tests repose only on golang vanilla tools, it is quite hard to manage tests on Panic for example or provide a clear vue of what is tested, how and why.

Could we envisage to use a library to help assertions and render a clear test output ?

(I am used to https://github.com/smartystreets/goconvey witch outputs can

[2020-12-21 06:03] marauderlabs commented on #200
It does. https://cucumber.io/docs/cucumber/cucumber-expressions/#optional-text

[2020-12-21 09:42] mpkorstanje commented on #200
Steps are matched to step definitions by regex/cucumber expression alone. This means that if a step definition includes a docstring or data table, the step should always have a doc string or data table. You can instead create two step definitions and invoke a helper method.

[code]

[2021-01-12 19:32] lonnblad commented on #205
Hey @dipaligulhane @mdelapenya @brpaz

Sorry for the long delay, v0.11.0 is now released with support for writing the output to a file.

BR
Fredrik

[2021-01-12 19:39] mdelapenya commented on #205
I'll give it a try ASAP

Thanks again for your work here 👏👏👏

[2021-01-12 22:15] lonnblad commented on #205
Nice, let me know if you have any issues! :)

[2021-01-13 12:09] dipaligulhane commented on #205
@lonnblad   surely will try with latest build.

[2021-01-14 19:26] lonnblad commented on #360
Hi @jlorgal would you have time to write a code-example using your example for the steps making a REST request, etc. from the perspective that you are free to change the API and we can use that as  a base for the discussion?

[2021-01-15 17:28] radtriste commented on #360
Hello @jlorgal
You can already have some context with godog.
in `kogito-cloud-operator`, we use a structure and setup step methods on the structure.
See https://github.com/kiegroup/kogito-cloud-operator/blob/master/test/steps/data.go#L38

is that similar to your idea ?

[2021-01-18 20:42] lonnblad opened #367 "Stepdefinition implementation recommendation is outdated for DocString and Table"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
- Add a step to a feature file including a DocString which has no registered step definition.
- Execute: `godog run`

### What did you expect to see?
[code]

### What did you see instead?
[code]

### Additional context
Th

[2021-01-18 20:56] mdelapenya commented on #205
Hey @lonnblad, using this version for a few days, and it works fairly well. KUDOS!

One thing that surprised me, if setting a path as filename (i.e. `junit:outputs/TEST-unit.xml`), it does not create parent dirs, although I can imagine there are security concerns about creating arbitrary paths in the filesystem.

Again, thanks for your work here!

[2021-01-19 15:59] leviable opened #368 "Make Base Formatter public and/or accessible by custom formatters"
**Is your feature request related to a problem? Please describe.**
When writing a custom formatter, the entire formatter logic must be rewritten because the base formatter is public, but within the `internal` folder

**Describe the solution you'd like**
Make the Base Formatter available to use by those writing custom formatters. Perhaps keep the base formatter within the internal structure, but ad

[2021-01-19 21:38] lonnblad commented on #205
@mdelapenya
didn't consider that to be honest, I agree that there might be security concerns, but it feels like that should be fine, or what do you think?

[2021-01-19 23:59] mdelapenya commented on #205
I'd say it's ok as it is now. In my case the build system/automation is the one responsible of creating the required paths.

[2021-01-20 06:56] mdelapenya commented on #205
BTW, is it possible to use multiple formatters? 🤔  My use case would be writing the jUnit file plus a format that would enable creating an HTML report for the test scenarios.

[2021-01-20 22:18] lonnblad commented on #205
currently it's not supported, but I want to add support for multiple formatters, #346

[2021-01-21 14:00] radtriste opened #369 "`godog.godog.BindCommandLineFlags` does not seems to work with custom godog.Options"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
`v0.11.0`

### What version of Go are you using?
`go version go1.14.13 linux/amd64`

### What did you do?
in my `main_test.go`
[code]

launching command `go test ./test --godog.tags=@test`

### What did you expect to see?

Test should run

### What did you see instead?

[code]

### Additional co

[2021-01-21 14:02] radtriste commented on #369
I followed as documented: https://github.com/cucumber/godog#running-godog-with-go-test

[2021-01-21 14:10] lonnblad commented on #369
Hi @radtriste

Using BindCommandLineFlags(prefix, &opts) also requires you to use "github.com/spf13/pflag" to parse the flags.
Could this be the issue?

[release-notes](https://github.com/cucumber/godog/blob/master/release-notes/v0.11.0.md#bindflags)

[2021-01-21 14:13] radtriste commented on #369
my `go.sum`
[code]
so it is there

[2021-01-21 14:15] radtriste commented on #369
oh I see now ... it seems the code is still using the internal `flag`
let me update that and come back to you

[2021-01-21 14:15] radtriste commented on #369
looks a bit better. Thank you (and closing this)

[2021-01-21 14:15] #369 closed

[2021-01-21 14:16] lonnblad commented on #369
great! :)

[2021-01-21 14:18] radtriste commented on #369
thx for reactivity and sorry for the time lost ...

[2021-01-21 15:09] lonnblad commented on #369
no worries, happy to help! :)

[2021-01-22 22:35] jesusnoseq commented on #346
Hi,
Is there anyone working on this feature?
I would like to propose a solution

[2021-01-23 08:55] lonnblad commented on #346
Hi @jesusnoseq, I don't think anyone is working on it, so feel free! 😊

[2021-01-23 15:16] lonnblad commented on #346
the idea was to have the CLI looking something like this:
[code]

[2021-01-23 15:19] jesusnoseq commented on #346
Ok!
 This what I plan to do

### Modify runWithOptions function
- Parse command
  - `--format junit:report.xml,cucumber:report.json`
- Refactor formatter finder and creation
- Handle output creation
- Validation foar multiple formatters
  - Disallow repetition of output.
  - Allow formatter repetition?
  - Any other validation to take into account?
- Handle errors file.close()
- Make printStepDefi

[2021-01-23 21:10] lonnblad commented on #346
I'm good with using comma separation and MultiFormatter sounds like a good idea!

My opinion is to allow formatter repition, even though I don't see a real use case for it, but I feel like we can leave that to be up to the user.

I also think that we should disallow repition of output and remember to check stdout there as well.

Thanks!!

[2021-01-26 13:31] stroem opened #370 "ScenarioContext.AfterStep not invoked after a failed case"
### What version of godog are you using?
Godog version is: v0.11.0

### What version of Go are you using?
go version go1.15.1 darwin/amd64

### What did you do?
I enabled the hooks BeforeStep and AfterStep on godog.ScenarioContext to output som logs after each step, and it worked just fine, until one step failed. After the step failed the BeforeStep was invoked but not the AfterStep.

### What did

[2021-01-26 15:46] lcarrazana commented on #328
Looking for the exact same functionality.
I'm using pkger for embedding all static files, and would like to also do it for godog feature files.

[2021-01-27 11:03] lonnblad commented on #370
@stroem, thanks for the issue!

How would you prefer this, always execute the hooks, even on skipped steps or not execute them?
If we would execute them, would you like to have some form indication that this step won't be executed?

BR Fredrik

[2021-01-27 15:53] mdelapenya opened #371 "panic on a step returning a wrapped error"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
I have a step that returns:

[code]

### What did you expect to see?
The step causes the scenario to fail without panic

### What did you see instead?
The step causes the scenario to fail with panic

### Additional contex

[2021-01-27 16:01] mdelapenya commented on #371
When I simply return `err`, then there is no panic and godog behaves as expected

[2021-01-27 16:14] lonnblad commented on #371
Hi @mdelapenya, thanks for the issue!
Correct me if I'm wrong, but I believe the errors pkg adds a stacktrace to your error, isn't that what we are seeing here?

[2021-01-27 17:17] mdelapenya commented on #371
Yes, it's printing the stacktrace, but godog finishes its execution not triggering the afterScenario hooks. Mmmm... It's true that I'm running only one test here, so I tend to think that this is related to #370. Let me do another round of verifications. Thanks!

[2021-01-27 17:31] mdelapenya commented on #371
Ok, sorry for the noise. I checked that the stacktrace is part of the output summary after tests are executed, so it works as expected. When I ran multiple scenarios including the one wrapping the error, the the stacktrace appears at the summary too, not stopping the build.

Said that, I'm going to close this because I'm experiencing the expected, right behaviour, which is not a bug.

Thanks!

[2021-01-27 17:31] #371 closed

[2021-01-28 08:26] jlorgal commented on #360
I was working on a project to provide common steps for HTTP and DNS (in the future it could be enhanced) with this philosophy of passing a context. My idea is to release it as open source but, due to other priorities, I had to delay it (I expect to retake it and have something public in a couple of months).

[2021-01-28 08:33] jlorgal commented on #360
Yes, it's exactly the same approach. The only difference is that I've used the standard Context (and this context is immutable). I've also delegated the registration of the steps by functional component (HTTP, DNS, ...) as you've done. So, I would say that we are pretty aligned.
However, I consider that it would simplify the use of this framework if this context is passed by default.

[2021-01-29 07:02] fgm commented on #370
I think it is safer to have them execute always, using the test status if desired to act differently depending on success, failure or being skipped.

[2021-01-29 08:27] lonnblad commented on #370
@fgm, Thanks for your feedback!
How do you see this status being propagated to the hook or is it up to the user to keep this information from the last AfterStep-hook?

[2021-01-30 17:42] fgm commented on #370
Haven't look in detail, but I think the info is already present on the PickleStep passed to the hook, is it not ?

[2021-02-01 14:27] alwindoss opened #373 "feature files in directory still expects the step definitions to be in the root"
I have the following project structure
[code]

with the above project structure when I run `godog run tests/features/` it doesn't detect the step definitions already defined in the `bdd_demo/tests/first_steps.go`

If there is no capability to detect, then there should be a command line flag or option to specify the location of the step definitions root directory.

[2021-02-01 14:49] alwindoss commented on #373
Ideally this should be at the test suite level. But if people have different project structures, we may have to consider providing this at scenario level as well.

[2021-02-01 14:57] lonnblad commented on #373
As an example, if we take the [godogs-example](https://github.com/cucumber/godog/tree/master/_examples/godogs) from godog, you would like to be able to run that example from another folder like the root-folder in the repository?

[2021-02-01 14:59] alwindoss commented on #373
Right..

[2021-02-10 15:23] mdelapenya opened #375 "[jUnit formatter] Skipped steps are considered as errors"
We noticed that when a step fails in an scenario, subsequent steps are marked as skipped, which is OK imho.

When processing a test case (a scenario), all the steps that are skipped are included as errors (although having the `skipped` type). And because they are marked as error XML elements, we are not able to identify the root cause of why the scenario failed.

But why? Because the CI (Jenkins)

[2021-02-10 15:51] mdelapenya commented on #346
I use case could be on CI: I want to populate jUnit's XML format so that jenkins displays tests results AND cucumber's JSON format to also display scenarios with this rich UI: https://plugins.jenkins.io/cucumber-reports/

[2021-02-10 16:09] lonnblad commented on #375
Hi @mdelapenya, thanks for the issue!

@mpkorstanje, do you have any insight on how we do this for other Cucumber implementations.

[2021-02-10 19:17] mpkorstanje commented on #375
This is a rather complex issue:

1. Cucumber-JVM only reports the most severe result for a scenario rather then the results of all steps.
2. Depending on which XSD you pick, you get a different answer to the question if multiple test results are allowed at all:

 - https://llg.cubic.org/docs/junit/
 - https://github.com/apache/maven-surefire/blob/master/maven-surefire-plugin/src/site/resources/xsd

[2021-02-10 21:24] mdelapenya commented on #375
I tried to use `<Skipped/>` elements instead, and jenkins populated the UI with two messages: one for the failure and one for the first skipped step

[2021-02-11 04:57] Kousik1612 opened #376 "Go-dog code coverage percentage shows 0.0%"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
If possible, provide a recipe for reproducing the error.

I'm trying to fetch code coverage on godog feature files(functional test cases). Have executed the below command and made necessary changes to testmain package for

[2021-02-14 16:19] ograycode commented on #360
I support this. My initial thought is the framework would expose a `SetContext` method either at the Feature or Scenario level. The `SetContext` method would take an interface of something along the lines of:

[code]

Functions or methods whose first arg fulfills the interface contract are provided either a context supplied by the user or Scenario one provided by godog.

The Set and GetValue metho

[2021-02-19 12:34] matt-simons commented on #95
if anyone else is looking for a way of integrating godog with gomega today, I've found the following to work quite well:

[code]
where the gomega fail handler is simply registered to panic
[code]

[2021-02-19 19:49] Jonathanbenilan commented on #253
Hello,
I tried to install version 0.11, and ran into same issue. I solved it by installing version 0.8.
Is it expected to still have the issue with version > 0.9?

[2021-02-20 22:48] feyyazesat commented on #376
Same for me as well,
I tried to separate unit test and e2e test runs from each other, the entry point is `gotest`.

[code]

if I change
[code]
Then suddenly I start to see %86 coverage, but I still cannot get the coverage report. If I only run unittests/native tests then I can receive coverage reports as well.

I execute my tests like below
[code]

[2021-02-21 00:01] feyyazesat commented on #376
Update I just find a solution to my issue,
I had to add `flag.Parse()` as well in tandem with `pflag.Parse()` So my code looks like this right now.

[code]

[2021-02-22 12:11] jlorgal commented on #360
We've already released an initial version of [Golium](https://github.com/Telefonica/golium). It is published as open source with Apache license.
It extends godog with the following features:
- Support for context to share information among steps
- Common steps that we consider that are reusable in many test suites.
- Some utilities to parse tables, configuration parameters, logs, ...
It is not a f

[2021-02-23 13:47] dipaligulhane commented on #205
@lonnblad started using and its working as expected. I am currently using junit XML formatter.
And yeah multiple format support would be good addition too.

[2021-02-26 08:45] jlorgal opened #377 "Support parameters and a table in a step definition"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
I defined a step with one or more parameters and a table. For example:

[code]

### What did you expect to see?

I would step that my step function receives both arguments (the step parameter and the table).

### What did

[2021-02-26 08:54] jlorgal commented on #377
I close the issue. It was a bug because I didn't include the parentheses to capture the variable.

[2021-02-26 08:54] #377 closed

[2021-02-26 17:07] jteng commented on #358
seeing the same error:
➜  api git:(master) ✗ pwd
/Users/<USER>/Downloads/godog/_examples/api
➜  api git:(master) ✗ godog version.feature
fork/exec /Users/<USER>/Downloads/godog/_examples/api/godog.test: input/output error

[2021-02-26 18:33] jteng commented on #358
my bad, need to put the repo on the $GOPATH, resolved

[2021-03-05 07:33] lonnblad commented on #358
Will close this issue due to inactivity and since jteng's issue was resolved.

BR
Fredrik

[2021-03-05 07:33] #358 closed

[2021-03-05 07:50] lonnblad commented on #360
Hi

How would you feel about this API:
[code]

Basically adding the stdlib context to all hooks and as an optional argument and return value to the stepFuncs?

We would also be able to build an Attachment API on top of the context.

[2021-03-05 08:12] lonnblad commented on #205
@dipaligulhane nice, thanks for the feedback!! :)
I will definitely try to prioritize adding multiple formatters.

[2021-03-05 08:52] lonnblad commented on #328
@lcarrazana would you want to use it in a similar way as zhammer, or would you use the godog CLI directly?

[2021-03-05 08:56] lonnblad commented on #360
It would also be good to consider" Add support for testing.T in steps", #100

[2021-03-05 09:34] lonnblad commented on #253
@Jonathanbenilan, could you help me witth some context to your issue?

BR
Fredrik

[2021-03-05 09:42] lonnblad commented on #282
Will close this to inactivity and that it's unclear what the actual issues with the API example are.

Feel free to reopen with more information.
BR
Fredrik

[2021-03-05 09:42] #282 closed

[2021-03-05 09:48] lonnblad commented on #88
Hi, if you have time, please check out the suggestion in #360 and comment there if you have would like to see changes.

[2021-03-05 09:50] lonnblad commented on #100
Hi, if you have time, please check out the suggestion in #360 and comment there if you have would like to see changes to the draft.

[2021-03-05 09:57] lonnblad commented on #342
Hi, I will close this issue due to inactivity.

Feel free to reopen.
BR
Fredrik

[2021-03-05 09:57] #342 closed

[2021-03-05 09:59] lonnblad commented on #338
Hi, I will close this issue due to inactivity.

Feel free to reopen.
BR
Fredrik

[2021-03-05 09:59] #338 closed

[2021-03-05 10:04] lonnblad commented on #285
Hi, I will close this issue due to inactivity.

Feel free to reopen!
BR
Fredrik

[2021-03-05 10:04] #285 closed

[2021-03-05 10:36] aslakhellesoy commented on #221
Unless our code has specific integration with a particular browser automation tool, I don't think we should be making any recommendations about what to use or not use.

There are so many different contexts and constraints that we cannot make a general recommendation IMO.

[2021-03-05 10:53] luke-hill commented on #221
Given this issue I wrote ages ago and re-looking at it. I think it was specifically about the godog readme file. So yeh I think the OP still stands. We should try remove any notes about stuff which is actively unmaintained.

@inluxc does the tool you mention have a direct integration with cucumber? I don't use go so I don't know, but I think also what aslak mentions about avoiding generalisations

[2021-03-05 10:59] lonnblad commented on #370
@fgm I don't think so, we only pass the parsed Step information as of now.

I propose doing like this, change so that we execute the AfterStep as well and keep the BeforeStep as is, so we make it consistent and then have another discussion on how we can indicate that a specific step won't be executed or if we should skip the hooks completely.

The discussion (#360) about adding context to the step

[2021-03-05 11:16] lonnblad commented on #200
Based on the answer from mpkorstanje, I will close this issue with wontfix.

BR
Fredrik

[2021-03-05 11:16] #200 closed

[2021-03-05 11:20] lonnblad commented on #199
Hi, based on the answer from l3pp4rd, I will close this issue with wontfix.

BR
Fredrik

[2021-03-05 11:20] #199 closed

[2021-03-05 11:22] lonnblad commented on #221
Hi, thanks for the comments.

What I take from this is that we should remove this section from the README
https://github.com/cucumber/godog#testing-browser-interactions

[2021-03-05 11:25] luke-hill commented on #221
Pretty much yes. Or maybe update it to something relevant / supported.

[2021-03-07 10:23] lonnblad commented on #346
Hi @jesusnoseq, did you have a chance to look more at this issue? :)

[2021-03-09 16:15] wedothings opened #378 "Unable to get TestStepResult from AfterStep"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
I'm trying to get the TestStepFinished.TestStepResult.Status for each step, from an AfterStep func.
By doing the below within the InitializeScenario.

[code]

### What did you expect to see?

I expected the AfterStep meth

[2021-03-09 18:42] lonnblad commented on #378
Hi @iannt81, this is currently not possible through the hook API, but I marked this issue as an enhancement. I like the suggestion and I feel this is something that could be available when we do a rework on the hook API.

I would suggest you to put a comment on the API draft posted in #360.

BR
Fredrik

[2021-03-11 14:50] andrster opened #381 "When will the next release be?"
Sorry for asking, it's just there is a security issue in 0.11 related to nextcloud.

[2021-03-11 14:56] lonnblad commented on #381
Hi @andrster, no need to be sorry.
Can you help me with more information around the security issue?

BR
Fredrik

[2021-03-11 17:34] andrster commented on #381
https://nextcloud.com/security/advisory/?id=NC-SA-2021-005. this should provide more info. but Nextcloud Server prior to 20.0.6 is vulnerable to reflected cross-site scripting (XSS) due to lack of sanitization in OC.Notification.show.

[2021-03-12 07:47] lonnblad commented on #381
Hi @andrster, maybe I'm missing something, but I'm not familiar with Nextcloud and I don't understand how a security issue with Nextcloud Server has anything to do with godog.

A question on our slack community asked about a security issue with "Cobra", are those related?

[2021-03-12 07:49] sergiughf commented on #381
Hey @lonnblad, not sure about the nextcloud security issue but there is another one detected by [whitesource](https://www.whitesourcesoftware.com/):

[code]

[2021-03-12 07:51] lonnblad commented on #381
Hi @sergiughf, thanks!! Do you know if that is solved in a later version of gherkin-go?

[2021-03-12 07:58] sergiughf commented on #381
I honestly don't know:) as I'm not able to run whitesource manually on demand, it's automated and the check reruns only after a PR merge.

[2021-03-12 08:04] lonnblad commented on #381
ok, I will check with the gherkin-go maintainers :)

[2021-03-12 08:05] sergiughf commented on #381
Thank you @lonnblad ! Much appreciated:)

[2021-03-12 08:25] lonnblad opened #382 "Whitesource flagged gherkin-go/v11"
Hey @lonnblad, not sure about the nextcloud security issue but there is another one detected by [whitesource](https://www.whitesourcesoftware.com/):

[code]

_Originally posted by @sergiughf in https://github.com/cucumber/godog/issues/381#issuecomment-797304083_

[2021-03-12 08:26] lonnblad commented on #381
@sergiughf I created a new issue #382 for the whitesource gherkin-go issue.

[2021-03-12 11:05] lonnblad commented on #382
Hi @sergiughf, are there more information in the Whitesource report that you could share?

Thanks!
BR Fredrik

[2021-03-12 12:20] aslakhellesoy commented on #382
Seconded. We can only fix the security issue if we know what it is.

[2021-03-12 14:18] sergiughf commented on #382
Yes of course. Here's everything I could find:

![image](https://user-images.githubusercontent.com/28300158/110952014-0339c880-8346-11eb-856c-e552dc458a87.png)

https://www.whitesourcesoftware.com/vulnerability-database/CVE-2021-22878

[2021-03-12 15:44] mpkorstanje commented on #382
I don't see anything in the CVE that relates to Gherkin Go. This appears to affect a product named `nextcloud` which I don't believe is used by Gherkin Go, are you sure this is not a false positive?

[2021-03-13 18:49] aslakhellesoy commented on #382
I cannot see anything related to gherkin-go either in that link (which looks different from the screenshot you provided).

Your screenshot mentions gherkin v11, and here are the dependencies of that release: https://github.com/cucumber/cucumber/blob/gherkin/v11.0.0/gherkin/go/go.sum

I cannot see anything related to nextcloud there either.

[2021-03-15 08:50] sergiughf commented on #382
Apparently it is a whitesource bug in the reporting. Really appreciate all of you taking the time to check:) I think we can safely close this issue.

[2021-03-15 09:37] #382 closed

[2021-03-15 09:42] mpkorstanje commented on #381
Closed by https://github.com/cucumber/godog/issues/382#issuecomment-799235959

[2021-03-15 09:42] #381 closed

[2021-03-15 12:58] iannt81 commented on #378
@lonnblad thanks for the response, sure, I'll add to the API draft. Thanks

[2021-03-15 13:39] iannt81 commented on #360
Updating and adding a comment as requested from [#378](https://github.com/cucumber/godog/issues/378)<br>

I'd like to get the `TestStepFinished.TestStepResult.Status` for each step, from an AfterStep func.<br>
By doing the below within the InitializeScenario.

[code]

I'd like the AfterStep method to return the possible status like the below on step execution.
[code]

It'd also be good to get the

[2021-03-16 07:56] Ekberg opened #383 "Incorrect project structure gives an unhelpful error message"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
Created a new project with the following structure,
[code]
My `main.go`,
[code]
I wanted to confirm that my `Dockerfile` was correctly working and running this minimal example with `godog`. But it failed, I then tried run

[2021-03-16 07:59] dipaligulhane commented on #378
We are using a workaround for now for this. Surely this enhancement will life easy.

[2021-03-16 08:12] dipaligulhane opened #385 "How to get test step name, scenario name in BeforeScenario() and AfterStep()"
I am trying to use an external reporting tool along with godog. And for the same need to capture:
- scenario title specified in feature file in BeforeScenario()
- step name/title specified in feature file in AfterStep()

I tried looking out for examples in https://github.com/cucumber/godog repo, however did not get any.
Can someone point me to any example if available?
I am using godog version v0.

[2021-03-16 08:22] #385 closed

[2021-03-16 08:22] dipaligulhane commented on #385
Got the pointers. Hence closing.

[2021-03-16 11:54] lonnblad commented on #385
Hi @dipaligulhane, thanks for the question, glad you found an answer :)

If you think it would be valuable to show this in an example, please create another issue as an ehancement! :)

Thanks!
BR
Fredrik

[2021-03-16 13:54] dipaligulhane commented on #385
@lonnblad Yes, it would be good to add an example. I will create an issue for the same.
Also I would like to work on adding this example so will work on that too.

[2021-03-16 14:18] iannt81 commented on #378
hey @dipaligulhane out of interest, what's your current work around? Do you have an example you could share please? Thanks

[2021-03-31 07:57] PureRaidenCloud commented on #212
![image](https://user-images.githubusercontent.com/63286100/113110238-6f1e9b00-9239-11eb-8761-cb8447418e6b.png)
@titouanfreville I've changed the GONOSUMDB=github.com/cucumber/godog, but it changed nothing, can you please help me  figure out this issue ?

[2021-04-05 14:16] lonnblad commented on #212
Hi @PureRaidenCloud,
would it be possible to upgrade to `v0.8.1` or the latest `v0.11.0`?

BR
Fredrik

[2021-04-06 18:14] AaronCasas opened #386 "Adding AfterScenario breaks godog command flags"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
I have a godog test file. I am attempting to run the command:
`godog --format="${format}" --tags="${test_tags}"`

This works if the test does not have any `AfterStep` or `AfterScenario` defined, but breaks if it does.

##

[2021-04-06 20:49] lonnblad commented on #386
Hi @AaronCasas, thanks for the issue.

From the error you describe, it looks like you are running an executable, `/<path>/godog.test`.
Is that correct and if so, how do you build it?

BR
Fredrik

[2021-04-06 21:19] AaronCasas commented on #386
Thanks for the quick response @lonnblad. I'm not doing anything beyond running `godog <args>` in the directory containing my test files.

[2021-04-06 22:26] lonnblad commented on #386
hmm, I can't really reproduce it

do you think you could try and reproduce it using a godog example?

[2021-04-07 13:44] AaronCasas commented on #386
It turns out this was due to an interaction with something I was calling from within the `AfterScenario` (an in-house prometheus package), not with the `AfterScenario` itself. Sorry for the false alarm, and thanks for the quick responses! I'll close this out.

[2021-04-07 13:44] #386 closed

[2021-04-14 13:05] inluxc commented on #360
On the contrary, I think these changes should be done now, before v1.0.

[2021-04-14 13:53] inluxc opened #387 "Can't get report on test failure and StopOnFailure=true"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you expect to see?
The cucumber report should return the failed report

### What did you see instead?
[code]

### Additional context
This happens when the test fails and StopOnFailure=true

[2021-04-15 16:02] paschelino commented on #325
And how would you do this with delve?

[2021-04-24 17:22] noah-friedman opened #388 "`asserter` as described in the example using testify/assert should be a built-in type"
**Is your feature request related to a problem? Please describe.**
The `asserter` type should be packaged with Godog so it doesn't have to be defined manually in every environment.

**Describe the solution you'd like**
An exported type called `Asserter` that essentially just mocks [`assert.TestingT`](https://pkg.go.dev/github.com/stretchr/testify/assert#TestingT).

**Describe alternatives you've c

[2021-04-29 07:54] edumucelli commented on #373
Came here looking for it, it is specially helpful if you want to have a `make bdd_test` that will run from the root directory. We do indeed can `cd tests; godog .` and it will work. But `godog run directory` could be helpful.

Interestingly, I have misunderstood the `godog run --help` thinking it was possible by the mention of a `dir`:

[code]

[2021-04-29 10:37] edumucelli commented on #367
I came here looking for it, cloned the repo to see where the problem was, but I think it was actually fixed in https://github.com/cucumber/godog/commit/5ac22c454cecd246efeec4221729778877a25bf0.

[2021-04-30 17:10] jaysonesmith commented on #167
Hey @ziprandom,

Thanks so much for taking the time to propose this idea and to submit a PR around it. As l3pp4rd mentioned, nested steps are considered an anti-pattern and will be removed. While your particular use-case isn't -exactly- that, it feels very close.

Since Gherkin is meant to be a declarative representation of a feature's behavior, things like `Given the "reusable_backgrounds/prepara

[2021-04-30 17:10] #167 closed

[2021-05-04 19:21] titouanfreville commented on #212
Hello @PureRaidenCloud did you solve the issue already ? (sry, was away from godog for some times and did not have time to help).

The best way to solve is (as indicated by lonnblad), to use v0.8.1 witch is strictly identical to v0.8.0 or later.

Also, this issue should not happen when using go 1.16 as they upgraded the dependencie management system. Now, it allows module version upgrade after rel

[2021-05-21 21:09] mattwynne opened #389 "Update cucumber/common module references to use paths instead of subrepos"
We have an initiative (https://github.com/cucumber/common/issues/1550) to remove some technical debt in the cucumber/common repo around publishing read-only subrepos from the monorepo. We'd like to remove/archive these read-only repos altogether, and the scripts that copy code into them.

As part of this, we need to update godog to reference the common modules (gherkin etc) via a path within the c

[2021-05-21 22:31] aslakhellesoy commented on #389
Step one would be to see if we can get gherkin/go building by referencing messages from the monorepo.

[2021-05-27 14:48] gernotstarke commented on #291
It's imho violating separation-of-concerns to keep everything in a single package... In a reasonably large golang application, I definitely want my go source to be partitioned into several packages - but want to keep my specifications and features for the application in a single features directory...

I did not get that to work - having multiple _test.go files with godog glue code results in

`Ini

[2021-05-27 15:23] mdelapenya commented on #291
I ended up creating different directories per test suite: https://github.com/elastic/e2e-testing/tree/master/e2e/_suites

- _suites
   - suite1
      -  main_test.go
   - suite2
      -  main_test.go

[2021-05-27 16:04] gernotstarke commented on #291
your e2e repo is an awesome example - thanx for this pointer!!

[2021-05-30 20:40] vearutop commented on #346
I've created a [PR](https://github.com/cucumber/godog/pull/392) based on ideas discussed in this issue, please check if it is sufficient. It implements support for `--format junit:report.xml,cucumber:report.json` flag format.

With few more changes I think `--format junit:report.xml --format cucumber:report.json` can also be supported, please let me know if it is important.

[2021-05-30 21:16] vearutop commented on #360
I think all hook functions (including `BeforeStepHook`, `BeforeScenarioHook` and `BeforeSuiteHook`) would benefit from from an error return, so that end-user can nicely fail execution based some global (environmental?) condition.

Also returning `(context.Context, error)` from all hooks would be consistent and less surprising.

[2021-05-31 05:34] bahlo commented on #346
Awesome, can‘t wait to use this @vearutop!

[2021-06-01 19:17] gernotstarke commented on #373
needing to put the step definition "xxx_test.go" files in the root directory imho violates established golang structure principles.

godog should find those files where the `go test` would find them too - mainly within the appropriate package folders.

[2021-06-01 19:18] gernotstarke commented on #373
To better distinguish "bdd step definitions" and "regular test files", I started prefixing step-definitions with `stepdef_` - so they stand out in the project root... (maybe a strange idea, but works for me)

[2021-06-08 08:58] jensklose opened #393 "Documentation is missing "the point""
Please answer these questions before submitting a bug report.

### What versions are you using?
[code]

### What did you do?
I followed the steps from the README.

### What did you expect to see?
If we run godog inside the module: - `godog`

You should see that the steps are undefined:
[code]

### What did you see instead?

[code]

### Additional context

I need to add the directory or at least a

[2021-06-10 10:50] iannt81 opened #394 "Project structure and layout (Question)"
Sorry if this has already been answered, but I couldn't find anything.<p>

I'd like to achieve the below layout. It's something similar that I've utilised with Java and PicoContainer. And is very helpful when coordinating large projects and ensuring re-usability of steps across features.<p>

Steps common across all features would be within the `common` dir, with either `company1` or `company2` spe

[2021-06-11 22:43] mattwynne commented on #389
OK I've had a go at that [here](https://github.com/cucumber/common/pull/1608) but I could do with some help from someone who has some idea what they're doing with go. I have none.

[2021-06-15 11:23] davix opened #395 "Failed after go mod vendor"
### What version of godog are you using?
v0.11.0

### What version of Go are you using?
[code]

### What did you do?
Followed the example in directory `godogs2`, by default godog runs fine with go mod.
But after vendor is used, it fails by default.

[code]

### What did you expect to see?
Same result as before `go mod vendor`
[code]

### What did you see instead?
[code]
### Additional context

[2021-06-16 15:43] Yellaks opened #396 "Updating GoDog to the latest 'Messages-go' release (v16)"
As stated in this issue raised here: https://github.com/cucumber/common/issues/1517

The 'messages-go' v15 dependency had a security issue, I want to update GoDog to use 'messages-go v16' and remove the security issue.

Update the code, to the latest release of 'Messages-go', v16

[2021-06-17 01:17] noel-yap opened #397 "Support per-scenario data shared across steps"
**Is your feature request related to a problem? Please describe.**
Sharing data among steps while ensuring each scenario has its own set of data is difficult.

**Describe the solution you'd like**
I would like to be able to share data across steps and ensure that each scenario has its own copy.

**Describe alternatives you've considered**
Currently, I'm using file-level `var`s and initializing the

[2021-06-17 13:58] noel-yap opened #398 "Have step expressions and implementations closer to each other"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When step expressions and implementations are separated I feel annoyed because I would like efficiency.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Java has annotations (ie `@Given`, `

[2021-06-17 19:26] mattwynne commented on #397
Is this similar to #360?

[2021-06-17 20:00] noel-yap commented on #397
I'm not sure. From what I'm understanding in https://github.com/cucumber/godog/issues/360, the context being passed around is (or should be) immutable. In the use case I have, the context must be mutable so that steps can mutate it.

[2021-06-18 14:19] vinhlh opened #399 "Support publishing to Reports Service"
**Is your feature request related to a problem? Please describe.**
As it's being supported in other languages JS, Ruby, JVM
https://cucumber.io/blog/open-source/cucumber-reports/
And it would be great to have it in godog as well.

[2021-06-18 16:09] aslakhellesoy commented on #399
@vinhlh would you be willing to help implement this?

[2021-06-19 14:14] vinhlh commented on #399
sure, let me give it a try, maybe try referencing to the implementation in cucumber-js

[2021-06-19 14:33] vinhlh commented on #399
can I have a question @aslakhellesoy. Does Reports API support only message formatter? If yes, I guess, we need to support this as well.

[2021-06-22 10:40] rwngallego-logicmonitor commented on #395
You're now using vendored packages, which in theory if don't have any reference to godog in any .go code, it won't be included in the /vendor folder, it will be listed in vendor/modules.txt but as a comment. You can check that the package doesn't exist in the /vendor folder.

To fix it you need to use godog in any go file and run `go mod vendor` again, godog should be included in /vendor and the g

[2021-06-23 06:22] rwngallego-lm opened #400 "Go cached tests with `go test .` don't detect changes in the feature files"
When running `go test .` or `go test ./...` and using godog's TestMain definition, the godog tests are cached and the changes in the `features` files are not detected. If we use the non cachable flags the changes are detected:

[code]

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
Run the the regular go tests and godog tests usi

[2021-06-23 13:46] davix commented on #395
Thanks @rwngallego-lm for the explanation.
Is there a way to force downloading godog in /vendor folder?
In an existing go project that uses vendor and doesn't need godog code in project, how can I simply use godog as a cli tool to run feature files?

[2021-06-23 13:52] rwngallego-lm commented on #395
Eventually you will end up having a reference to godog when you create the `_test.go` files that accompany the feature files, however if you're following the example that shows the suggested go code implementation in an existing project with no godog references yet, it will not work unless you add a dummy reference. Once you have the first `_test.go` godog implementation, you should not have any i

[2021-06-23 15:38] mattwynne commented on #360
To clarify my understanding: currently godog does not have any support for [sharing state between steps of a scenario](https://cucumber.io/docs/cucumber/state/) - is that right?

Do we have a question to resolve about whether that context should be immutable [or not](https://github.com/cucumber/godog/issues/397)?

[2021-06-25 00:22] jensklose commented on #397
I'm using the following solution:
Create a struct for your case.
[code]
Convert the relevant functions into methods with the scenario struct as receiver.

[code]

Initialize per scenario:
[code]

[2021-06-25 06:47] davix commented on #395
Makes sense!
And since in non-vendor case, even if there's no godog reference, godog gives proper output.
Can it give the same friendly output as below in vendor case (even though no godog reference)?

[code]

[2021-06-28 08:28] mpermperpisang opened #401 "the argument 0 type *messages.PickleStepArgument is not supported gherkin.DataTable"
Hi, I want to try data table but I don't know the valid format
also I don't understand why it gets this error `the argument 0 type *messages.PickleStepArgument is not supported gherkin.DataTable`
Could you help please?

Feature
[code]

Step
[code]

Method
[code]

[2021-06-28 09:43] #401 closed

[2021-06-28 09:43] mpermperpisang commented on #401
solution :
[code]

[2021-06-29 16:15] titouanfreville commented on #397
I developped a set of helpers arround godog including variable picker && fixtures, you can check if it match your usecases :) https://github.com/elmagician/kactus

[2021-07-05 19:23] mattwynne opened #403 "Fix the build"
I merged https://github.com/cucumber/godog/pull/402 and the build has started failing:

https://app.circleci.com/pipelines/github/cucumber/godog/558/workflows/502329ef-31e4-466f-9433-dc81adf5e3ab

The new 1.16 workflow is failing with `mkdir: cannot create directory ‘/go’: Permission denied`

The older versions are failing on a `gofmt` check:

[code]

@mbow can you take a look?

[2021-07-07 15:32] #346 closed

[2021-07-09 04:08] dinhluongzalora opened #405 "Failed to compile testmain package when running example even set GO111MODULE=off"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
If possible, provide a recipe for reproducing the error.

I was trying to run the example from README.MD. It ran successfully at first. The code was within the Go workspace ($HOME/go/src). I pushed the code to GitHub, the

[2021-07-09 15:27] vearutop commented on #376
I think the issue you're seeing is caused by default behavior of Go, which collects coverage only in the package that owns the test, this makes sense for unit tests. For end-to-end (integration) tests this is usually not the desired behavior.

Please try configuring which packages should qualify for coverage with `-coverpkg ./...` and check if helps getting coverage.

[2021-07-09 15:28] vearutop commented on #403
Fixed with https://github.com/cucumber/godog/pull/404.

[2021-07-09 15:28] #403 closed

[2021-07-09 18:08] mattwynne commented on #396
Done in #402

[2021-07-09 18:08] #396 closed

[2021-07-09 18:33] mattwynne opened #406 "WANTED: More regular maintainers 🔧🙋‍♀️🙋🏾‍♂️🙋🏼"
Since Cucumber adopted this project, the bulk of the maintenance effort has fallen to just [one or two individuals](https://github.com/cucumber/godog/graphs/contributors).

While we're super-grateful to those individuals, this situation puts too much pressure on those individuals and is unsustainable. Right now, with those people busy with other stuff, pull requests and issues are starting to pile

[2021-07-09 18:38] mattwynne commented on #403
🎉

[2021-07-12 10:58] inluxc commented on #399
I think with custom formatters, we can add diferente Cucumber Report systems.

[2021-07-12 14:02] Yellaks commented on #396
@mattwynne - thanks for closing this.
Just wondering about using the latest code, is this possible or should I wait until a new release has been published?

[2021-07-12 16:57] inluxc commented on #405
Godog is a Go Module, you can't use it without GO111MODULE=on.

[2021-07-12 21:35] mattwynne commented on #396
I think if you're able to use the code directly from the git main branch, we'd love the feedback on whether it works. We should be aiming to have that branch in a releasable state at all times.

[2021-07-13 05:31] dinhluongzalora commented on #405
```Note that if you want to execute any of the examples and have the Git repository checked out in the $GOPATH, you need to use: GO111MODULE=off. Issue for reference.```

This is what I found in the Godog documentation.

[2021-07-13 14:14] Yellaks commented on #396
@mattwynne - thanks Matt. Unfortunately we need a tagged release, do you have any idea of when the next one will be?

[2021-07-19 19:04] mattwynne commented on #396
Ah, OK. @vearutop what are your thoughts about making a release?

[2021-07-19 20:05] vearutop commented on #396
@mattwynne I personally prefer short release cycles (even to an extent of tagging every merged PR on `main`), seems we don't have any blocker bugs at the moment, though we have a milestone with 4 open issues: https://github.com/cucumber/godog/milestone/6.

@Yellaks could you try latest `main` in your project(s) to check if there unexpected changes/bugs that we need to consider before release?

[co

[2021-07-19 20:49] vearutop commented on #360
User can build step handlers in a way that allows capturing and using state, but there is no standard way to share state with 3rd party steps which are out of control of the user.

Step handlers are invoked with reflection, we can easily support `ctx context.Context` as a first argument without breaking changes. We also can add backwards compatible support for step to return context.

Go's `contex

[2021-07-20 07:46] radtriste commented on #222
solved with https://github.com/cucumber/godog/pull/276

[2021-07-20 07:46] #222 closed

[2021-07-21 10:38] vearutop commented on #400
I think this is expected behavior with idiomatic workaround `-count=1`. I don't think there is a way to control Go tests cache based on feature files.

I'm closing this issue, please feel free to reopen if there are some additional suggestions or ideas.

[2021-07-21 10:38] #400 closed

[2021-07-21 10:44] vearutop commented on #398
You can also init steps as
[code]
having expressions and implementations next to each other.

But I'm not sure I follow the suggestion or the idea of the issue.
@noel-yap what exactly is the problem and how would you like to have it fixed?

[2021-07-21 11:02] vearutop commented on #378
@wedothings as a workaround, currently you can get the status from the received `err`
[code]

same way as `godog` does in https://github.com/cucumber/godog/blob/v0.11.0/suite.go#L80-L97.

[2021-07-21 13:39] noel-yap commented on #398
@vearutop , I had initially started doing just that and learned that if the implementations are long, that becomes unwieldy (not to mention it not lending itself well to sharing scenario context).

I was hoping there'd be a way to do it similarly to using annotations in Java:
[code]

[2021-07-21 13:54] vearutop commented on #398
Maybe it would help to arrange lengthy step definitions as functions that operate on `*godog.ScenarioContext`, please check an example:

[code]

[2021-07-21 15:29] noel-yap commented on #398
Sorry, I was unclear. By scenario context, I had meant context specific to the scenarios being tested, not `godog.ScenarioContext`. One way to resolve that would be to allow `godog.ScenarioContext` to hold custom context.

Regardless, what you have above looks fruitful. Thanks!

[2021-07-21 16:03] noel-yap commented on #398
As I was trying that out, I realized there's still a bunch of jumping around in the code since `longStep1`, etc would still need to be called explicitly.

[2021-07-22 15:45] nhatthm commented on #376
My case is a bit different, my project has this structure

[code]

Test suite is in `features/bootstrap/godog_test.go`

[code]

When I run

[code]

I have 0% coverage in coverprofile file

However, when I put `flag.Parse` (the Go `flag`) in the `TestMain`, like this:

[code]

It works! And I have the right report in the coverprofile file.

I have no idea what happens 🤷‍♂️

[2021-07-22 18:45] mattwynne commented on #389
@vearutop any chance you could help me with this?

It's blocking a larger piece of work to decommission a bunch of obsolete scripts to maintain the mirror repos from cucumber/common.

[2021-07-22 18:47] vearutop commented on #389
Sure, let's do this after releasing v0.12.0.

[2021-07-22 20:08] harikumarrr commented on #103
Hi, generate a godog test result json for cucumber-html-report `godog --format=cucumber > cucumber.json`

[2021-07-23 11:52] vearutop commented on #360
Please check https://github.com/cucumber/godog/pull/409 as a proposed solution to this and other related issues, if this solution seems good, I'll finish the PR with more documentation and additional fixes (#370, #378).

[2021-07-27 08:57] nhatthm opened #410 "Provide a list of useful extensions"
**Is your feature request related to a problem? Please describe.**
This is not a technical problem

I'm really interested in using godog in my tests and it's very convenient. However, I find it is lack of visibility on existing extensions that I could use. In the end, I come up with my own implementation.

I think it's better for the community if we could provide a list of useful extensions.

I al

[2021-07-27 10:09] mpkorstanje commented on #410
There are roughly speaking two models to maintain lists like these:

 * An un-curated list. Everyone adds their extension to the list. Unfortunately nobody ever wants to prune old, stale or dysfunctional entries. As such the usefulness of such a list falls of in time quite rapidly.
 * A curated list. Maintainers would add only "worthy" extensions to the list.  Maintaining lists like this is rather

[2021-07-27 10:30] nhatthm commented on #410
This is also cool 👍  we could use this.

[2021-07-28 14:06] #388 closed

[2021-07-29 10:33] vearutop commented on #360
The PR #409 is finished from my point of view and is ready for review. Please check.

[2021-08-03 15:48] #88 closed

[2021-08-03 15:48] #175 closed

[2021-08-03 15:48] #360 closed

[2021-08-03 15:48] #370 closed

[2021-08-03 15:48] #378 closed

[2021-08-03 15:48] #397 closed

[2021-08-03 16:54] #221 closed

[2021-08-05 12:49] Yellaks commented on #396
@vearutop - sorry I am unable to use the `main` in my project, due to company restrictions; we need to use a tagged version.
Any ideas on when v0.12.0 will be available?

[2021-08-07 20:37] #188 closed

[2021-08-07 21:07] #367 closed

[2021-08-07 22:52] vearutop commented on #396
I've created a PR to prepare `godog` for next release https://github.com/cucumber/godog/pull/416, please check.

Hopefully we can have it merged and tagged with `v0.12.0` soon.

[2021-08-09 08:28] vearutop commented on #396
@Yellaks release candidate is tagged: https://github.com/cucumber/godog/releases/tag/v0.12.0-rc1. Could you try it with your tests?

[2021-08-10 09:27] #368 closed

[2021-08-11 13:57] gurix opened #420 "False version number documented in Readme.md?"
In Readme.md the command `go get github.com/cucumber/godog/cmd/godog@v0.12.0` is documented but it should be `go get github.com/cucumber/godog/cmd/godog@v0.12.0-rc1`. I am not sure if this is intentional or not?

### What version of Go are you using?
[code]

### What did you do?
I tried to update to v0.12.0

[code]

### What did you expect to see?

[code]

### What did you see instead?

[code]

[2021-08-11 14:23] karfrank commented on #420
The Readme on the main branch has been updated in preparation for the v0.12.0 release, but it hasn't been released yet.
It should work when you replace `v0.12.0` with `v0.11.0` or any other valid release tag. See https://github.com/cucumber/godog/releases

[2021-08-12 10:56] vearutop commented on #267
Hello, please check if new way of running scenarios as subtests would help your case: https://github.com/cucumber/godog#subtests-of-testingt.

https://github.com/cucumber/godog/blob/v0.12.0-rc2/example_subtests_test.go#L28-L45

[2021-08-12 15:21] Yellaks commented on #396
@vearutop I have been able to test the tagged release `v0.12.0-rc1` successfully. Thank you for your help on this :)

[2021-08-16 09:42] inluxc commented on #395
@davix have you tried to run:
[code]

[2021-08-17 09:44] vearutop commented on #420
Now that [`v0.12.0`](https://github.com/cucumber/godog/releases/tag/v0.12.0) is released and documentation is correct again.

[2021-08-17 09:44] #420 closed

[2021-08-28 22:18] vearutop commented on #389
I've created a couple of draft PR for this issue, one is a straightforward imports replace as suggested by this issue.
And another is a more complicated solution to embed dependencies into an internal packages of `godog`.

I don't have a strong opinion which approach is the best, both have pros and cons.

Let's decide which way to go and I can finish one of the drafts with documentation/changelog

[2021-08-29 17:57] mpkorstanje commented on #389
I think you have spotted the same problem I've been trying to deal with in Cucumber-JVM.

The messages and gherkin dependencies are exposed as part of cucumbers api.  This is made worse by the dependency structure in which messages is a dependency of everything. As a result updates to for example the html formatter often force a new major version.

In Cucumber-JVM I have chosen not to expose these

[2021-08-30 09:18] vearutop commented on #389
The main leak of foreign API is `messages`, `godog` uses local aliases to refer `messages` types which helps against import path changes. If there is a breaking change (renamed property for example) in `messages`, that would be technically a breaking change for `godog`. Foreign types (as local aliases) are used in step definitions and custom formatters.

In practice, upgrades to newer `messages` d

[2021-09-15 13:05] nhatthm commented on #376
In my case, no panic

[2021-09-16 14:56] #178 closed

[2021-10-06 17:00] leonbergr opened #434 "Function .After() is called before fuction StepContext().After()"
### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
I have this setup (pseudo code):
[code]

### What did you expect to see?
[code]

### What did you see instead?
[code]

### Additional context
It is probably caused by this: https://github.com/cucumber/godog/blob/239a42468acb95a3e4813892a60b6acd2eb45a5b/suite.go#L108-L110

[2021-10-06 21:19] JusticeN commented on #324
@rickardenglund why did you pass long Params in the description instead of body. Like this.

`
Feature ...
Given the companies:
"""
Company 1
Company 2
...
"""
Then ...
`

Features have to be simple and easy readable by humans.

You can even save the Params in separate file and read it for execution

[2021-10-07 10:20] vearutop commented on #434
Interesting, thank you for raising this issue, I'll check what's happening.

[2021-10-12 13:59] leonbergr commented on #434
Thank you, please let me know if you need additional info.

[2021-10-14 05:52] cakoolen commented on #405
When I try to build with go modules turned off, I get the following error message:
[code]

I think this is related to [internal/builder/builder.go#L130](https://github.com/cucumber/godog/blob/main/internal/builder/builder.go#L130) where `go mod tidy` is called without respecting the `GO111MODULE` flag

Even though we use a go module, we have vendored all our source code using `go mod vendor` to ma

[2021-10-14 06:45] vearutop commented on #405
@cakoolen please try installing godog from a branch with `go install github.com/cucumber/godog@non-module`  and then using it in your context. It it works ok we can merge #436.

[2021-10-14 09:10] cakoolen commented on #405
@vearutop that was fast! Sorry it took me some time to validate your changes but for me these work really nice. It would be great to see them in the main release.

[2021-10-14 17:27] vearutop commented on #405
Fixed in `v0.12.2`.

[2021-10-28 22:35] noel-yap opened #438 "Unable to run individual scenarios"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?

[code]

The `/` and everything after it is completely ignored despite what's suggested in https://github.com/cucumber/godog.

### What did you expect to see?

I expected no scenarios to be run.

### What did you see inst

[2021-11-11 16:06] mattwynne commented on #383
Yesterday @ALCooper12 and I paired on this problem. We've made a bit of a start on it by adding an example in the `_examples` folder in her fork, where we can reproduce the problem.

I'm new to Go so this is fun!

We're meeting up again next week, when we'll see if we can work out where we'd introduce a change into the code to give a better error message. If anyone has any pointers, we'd love to h

[2021-11-16 08:32] michaelsauter opened #440 "Rule is not supported"
### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?
Given a feature file like the following:

[code]

Running `godog` will panic:

[code]

### Additional context
I've looked a bit into the source code and added the following test to `pretty.feature`:
[code]

This lead me to apply the following fix in `fmt_pretty.go`:
[code]

... but t

[2021-11-27 16:58] noel-yap commented on #438
I've upgraded to `v0.12.0` but still unable to exercise individual scenarios.

I've also tried `go install github.com/cucumber/godog/cmd/godog@v0.12.2` but the version that gets installed is still `v0.12.0`.

[2021-11-27 18:04] alexrudd commented on #434
Also just hit this same issue 😄

[2021-11-27 18:10] #438 closed

[2021-11-27 18:11] noel-yap commented on #438
Upgrading and specifying the test instance works. Thanks!

[2021-12-01 00:22] vearutop commented on #434
@leonbergr @alexrudd could you check if #444 (branch `after-order`) behaves within your expectations?

You may use branched version with
[code]
or
[code]
depending if you use godog as CLI or as a library.

[2021-12-03 00:09] #434 closed

[2021-12-03 01:10] mattwynne opened #446 "Use "state" pattern in `suite.runSteps`"
The [`runStep` function](https://github.com/cucumber/godog/blob/b850b44b48b7cb1ff1668b2c789084251f6fd81a/suite.go#L75) has a bunch of conditional logic in it, which I think could be simplified by the application of the [State](https://sourcemaking.com/design_patterns/state) design pattern.

We use this [in the Ruby version](https://github.com/cucumber/cucumber-ruby-core/blob/main/lib/cucumber/core

[2021-12-03 10:40] leonbergr commented on #434
I just checked with the master now. It looks ok, thank you!

[2021-12-10 19:55] ALCooper12 opened #447 "Unable to run godog's tests"
Right now I am pairing with @mattwynne and I am trying to make a contribution however godog's tests fail on my windows machine with go version 1.17.3 but it does not fail on his Mac machine with the same go version and same version of the code. If someone could help us understand the error messages from the test, it would be greatly appreciated!

Here is the gist of the output of running `make tes

[2021-12-14 05:53] mxygem commented on #447
Oh shoot, sorry @ALCooper12 ! I totally thought I wrote you a response but I have no idea where it is, sorry! Maybe I'm just misremembering a chat I had with Matt? 🤷

I don't have a solve for what's going on unfortunately. I have found that [this](https://github.com/cucumber/godog/blob/b850b44b48b7cb1ff1668b2c789084251f6fd81a/internal/formatters/fmt.go#L97) is the line that manages stripping the p

[2021-12-14 19:34] mattwynne commented on #253
Seems to be done now.

[2021-12-14 19:34] #253 closed

[2021-12-14 19:49] carleeto opened #448 "Switch from go lint to staticcheck.io"
Since go lint has been deprecated (https://github.com/golang/go/issues/38968), it would be good to move to an actively maintained static checker for Go. [staticcheck.io](https://staticcheck.io/) comes [highly recommended](https://groups.google.com/g/golang-nuts/c/rCP70Aq_tBc?pli=1) and is sponsored by Google.

I would like to submit a PR in the future to implement this, but would like some feedbac

[2021-12-15 20:27] ALCooper12 commented on #447
@mxygem No worries at all! So for today, me and @mattwynne updated my WSL Ubuntu terminal that's running on my Windows Machine from Version 1 to Version 2 and my `go env` still outputs:
[code]

But it shows this output in PowerShell now that I'm using WSL Version 2:
[code]
And I'm still getting the same errors when running `make test` as before in gist file above

[2022-01-17 20:03] ALCooper12 commented on #447
After a lot of help from @mxygem un-installing and re-installing WSL version 2, when I run `go env` I get this:
[code]
notice that I now see `GOHOSTOS="linux"` instead of `GOHOSTOS=windows` and `GOOS="linux"` instead of `GOOS=windows` when I run `go env` 🎉

Now all the tests pass after running `sudo apt install build-essential`, `sudo install make`, and finally `make test` with @mattwynne

[2022-01-17 20:03] #447 closed

[2022-01-27 09:41] MelleKoningSGG opened #455 "godog failed to compile testmain package - but should improve the error message"
Please answer these questions before submitting a bug report.

### What version of godog are you using?
[code]

### What version of Go are you using?
[code]

### What did you do?

First add a /test folder  and executed `godog`.
This provides me godog example steps -> :+1:

Then added the example code in a `test.go` file and ran godog again

### What did you expect to see?
- Execution of the steps

[2022-02-10 01:06] zachmandeville opened #456 "Access test suite results programmatically, after a test suite run"
**Is your feature request related to a problem? Please describe.**
I am unable to find an obvious way to achieve the result I want using godog, and so am checking to see if the feature exists or if it could be requested.  I want is to be able to use godog as a library within a larger test runner, and to run multiple test suites against different targets and then combine the results of all these ru

[2022-02-10 07:54] vearutop commented on #456
Hello, I think in your case you can create a [custom formatter](https://github.com/cucumber/godog/blob/main/_examples/custom-formatter/emoji.go) that would collect necessary stats.

Godog allows using multiple formatters, so you can continue using your original formatter.

Also it might be more convenient to collect result into byte buffer instead of files.

Please check the schematic example of h

[2022-02-10 21:50] mattwynne opened #458 "How come we don't run `go test ./...`?"
## What's the problem you've observed? 🤔

In `make test` and our CI workflows, we just run `go test` which as I understand it only runs the tests in the root. There are lots of other tests in sub-folders, which as far as I can tell aren't being run by our CI or `make test` command.

## Do you have a proposal for making it better? 🦄

I'm not a Go expert, but would it not be better to run `go test .

[2022-02-10 23:31] zachmandeville commented on #456
Ah, this is so helpful, thank you @vearutop !

[2022-02-10 23:31] #456 closed

[2022-02-11 07:50] vearutop commented on #458
Interesting indeed, we have this for ~7 years since https://github.com/cucumber/godog/commit/3ec64f42c9b4c514e2fd76b7a2e8049a3392b27b.
Not sure what was original reasoning, maybe because by that time we only had `examples` as additional package.

I think we should run `go test -race ./...` and fortunately it still passes. :)

[2022-02-14 17:44] mattwynne commented on #458
A reminder to always try and put a "why" in your git commit messages :)

It turns out I was wrong about CI, the [GitHub Action `test.yml`](https://github.com/cucumber/godog/blob/main/.github/workflows/test.yml#L42) does run in `./...` so this is probably why it's not become much of an issue.

[2022-02-14 17:51] #458 closed

[2022-02-15 21:37] #448 closed

[2022-02-17 20:35] aaronc commented on #100
Without support for this I'm having a hard time figuring out how to integrate something like `gomock` where the `Controller` needs to be initialized with something resembling `testing.T`: https://pkg.go.dev/github.com/golang/mock@v1.6.0/gomock#NewController

[2022-02-18 12:35] ricardogarfe opened #459 "Tests: Update use of deprecated methods on _examples directory"
### 🤔 What's the problem you've observed?

Examples from `_examples` path are using deprecated functions

### ✨ Do you have a proposal for making it better?

[Pull Request with changes](https://github.com/cucumber/godog/pull/460)

[2022-02-28 14:51] ricardogarfe commented on #459
Done at https://github.com/cucumber/godog/pull/460

[2022-02-28 14:51] #459 closed

[2022-03-09 03:40] zachmandeville opened #463 "Make public the model types used in formatters"
### 🤔 What's the problem you've observed?

When extending a formatter (like the example fmt_emoji), you can use the formatter.Storage methods to get back results
you need.  However, a lot of these methods have signatures that rely on internal types. This can make it difficult to use these public methods.

For example, if i have formatter `f`, that is extending the `godog.ProgressFmt`, then i have

[2022-03-09 08:27] vearutop commented on #463
For this particular case we have forwarded constants into public `godog` package: `godog.StepPassed`.

I think the idea of having most of implementation details under `internal` is to minimize API surface and so reduce a chance of backwards compatibility issues. Though at current state I'm not sure keeping internal really helps, as internal dependencies are already leaking into public API (for exa

[2022-03-09 22:40] mattwynne commented on #383
I think I've got a failing test here: https://github.com/cucumber/godog/commit/e5b26933b5d4e979009f8f4341448fa8322720d2

[2022-03-10 17:00] #334 closed

[2022-03-10 19:06] mattwynne commented on #455
Similar to #383

[2022-03-10 19:08] #405 closed

[2022-03-17 13:49] tnerolftnerolf opened #464 "Godog command returns an error with Go 1.18"
### 👓 What did you see?

After migration from Go 1.17 to 1.18, when using the godog command, I systematically got "failed to compile testmain package: exit status 1 - output: compile: /tmp/go-build1485890205/b001/importcfg.link:439: unknown directive "modinfo"

### ✅ What did you expect to see?

godog to run available tests

### 📦 Which version are you using?

The problem appeared after upgrading

[2022-03-17 13:56] b-repo commented on #464
exactly the same problem on my side !

[2022-03-17 14:55] vearutop commented on #464
Until the issue is resolved, as a workaround I suggest to run `godog` tests via [`go test`](https://github.com/cucumber/godog#subtests-of-testingt).

[2022-03-18 08:35] tnerolftnerolf commented on #464
The issue is fixed for me with this version ! Thanks.

[2022-03-25 20:54] anusha-ragunathan commented on #387
I see this issue as well.

What's the expectation on the `--stop-on-failure` flag? Are reports expected to be generated in this case, given that we only have a partial view of the test runs, now that the run stopped on the first failure?

[2022-03-25 21:01] anusha-ragunathan commented on #387
Stack trace is similar to above.

go version: 1.17.3
godog version: v0.12.4

[2022-03-26 09:16] #464 closed

[2022-03-26 09:22] vearutop commented on #464
New version tagged with a fix: `v0.12.5`.

[2022-04-22 18:52] wedothings opened #472 "Concurrency issue when using a context"
### 👓 What did you see?

When running scenarios concurrently, all scenarios seem to be sharing the same testContext.

The testContext is an object used to pass values between steps, the steps add values to the testContext and extract too.

However, all scenarios where attempting to update the map in the testContext at once, which caused the below error

`fatal error: concurrent map iteration and m

[2022-04-28 12:33] #383 closed

[2022-04-28 18:28] countingtoten opened #473 "Running `godog build` or `godog run` returns an error about not being able to import godog."
### 👓 What did you see?

Running `godog build` or `godog run` returns an error about not being able to import godog.

[code]

### ✅ What did you expect to see?

I expected to see the output from the README.md.

[code]

### 📦 Which tool/library version are you using?

[code]

### 🔬 How could we reproduce it?

OS: macOS 12.3.1
Go: 1.18.1

Steps to reproduce the behavior:

1. Install the latest godog

[2022-05-13 12:16] stevecager commented on #472
Hey @wedothings, I would also like to run tests in parallel but am finding that using a shared testContext means variables from one test/scenario get overwritten by variables from another.

Is it something I am doing wrong or does the current version of Godog need enhancing to accommodate this use case?

[2022-05-13 12:24] stevecager commented on #325
I can run a scenario in debug mode in Goland using this run config:

<img width="1040" alt="image" src="https://user-images.githubusercontent.com/80527290/168282392-3fc06b96-d233-4a45-aae4-72972e782b7d.png">

[2022-05-13 13:12] wedothings commented on #472
Hey @stevecager that's the same behaviour I'm seeing.

I don't think it's anything you're doing wrong.

I guessing it's a limitation of Godog in it's current state, however, I'd like confirmation from a maintainer first?

Additionally, if it is a limitation, I think it's worth calling out in the documentation or readme.

[2022-05-14 21:15] draganm commented on #463
I'm having similar issues as @zachmandeville - implementing any decent formatter requires access to internal packages. IMHO the whole way that formatters are build needs a revamp. In the ideal world, one should be able to build any of the 'internal' formatters based just on the `Formatter` interface. Having to reach into the Storage is leaking way too much of internals and begs the question about

[2022-05-20 08:32] vearutop commented on #472
_TL;DR_: use`context.Context` to pass state between scenarios.

It is not trivial to implement a stateful step function using globally shared data (e.g. `customer map[string]string`) that is safe to use under concurrency.

However, there is an easier and more straightforward way, you can use `ctx context.Context` as first argument of your step function and as a returned value to propagate state be

[2022-05-20 12:00] vearutop commented on #472
Please check if [updated README](https://github.com/cucumber/godog/blob/update-readme/README.md) makes more sense in how to pass state safely while running concurrent scenarios.

[2022-05-20 12:13] vearutop commented on #463
I agree, internal `*formatters.Storage` is a strong dependency that is vital for advanced formatting, maybe we can improve extensibility by abstracting it with a publicly available interface and providing publicly available constructor for internal `*formatters.Storage`.

[2022-05-20 12:26] vearutop commented on #325
You can add a [regular test](https://github.com/cucumber/godog#subtests-of-testingt) that invokes godog and then use your IDE capabilities to run/debug tests.
[code]

<img width="628" alt="image" src="https://user-images.githubusercontent.com/1381436/169527813-7f2c04e3-0131-4628-9b0b-049dd32d9a77.png">

[2022-05-20 12:53] vearutop commented on #473
Please use latest `godog` that can be installed with
[code]

We need to [update README](https://github.com/cucumber/godog/pull/477) to make it more accurate and helpful.

[2022-05-20 12:53] vearutop commented on #473
I'm closing the issue, but feel free to reopen it if the problem persists.

[2022-05-20 12:53] #473 closed

[2022-05-25 20:53] mattwynne opened #479 "Implement unambiguous keywords"
As described in https://github.com/cucumber/common/issues/768

[2022-06-13 13:42] brittf19 opened #481 "Support external custom Formatters"
### 🤔 What's the problem you're trying to solve?

I have multiple GoDog testing projects and a custom formatter that i wrote for them. But, i unfortunately found out that a custom formatter must be part of the testing package and compiled with the test files as part of the package, otherwise GoDog fails with an error: "unregistered formatter". I would like to suggest  an option for loading a preco

[2022-06-13 18:39] vearutop commented on #481
Is it correct that you're using `godog` in CLI mode? Please have a look at https://github.com/cucumber/godog/discussions/478 and share your vote/opinion.

This feature does not seem that much feasible since all solutions to create precompiled plugins in Go impose [limitations](https://tpaschalis.github.io/golang-plugins/#constraints).

My suggestion is to add your custom formatter to a library mod

[2022-06-17 14:32] #440 closed

[2022-06-30 08:15] pulkitent opened #483 "Correct test coverage report not generating in GODOG when used with go test"
### 👓 What did you see?

- Empty **coverage.txt** file (with only one line in that file as `mode: atomic`
- Test was passing but the command prompt log contained `coverage: [no statements]`

### ✅ What did you expect to see?

- **coverage.txt** file with proper coverage details

### 📦 Which tool/library version are you using?

Godog - v0.12.5

### 🔬 How could we reproduce it?

`go test -test.v -te

[2022-06-30 08:16] pulkitent commented on #483
Took reference from [here](https://github.com/cucumber/godog/issues/155) but not able to generate proper report

[2022-06-30 10:04] vearutop commented on #483
By default `go test` only collects coverage in the package that owns the test, please try with `-coverpkg=./...` to enable coverage collection across sub packages too.

[2022-06-30 10:15] pulkitent commented on #483
@vearutop used below command
`go test -test.v -test.run ^TestFeatures$ -coverpkg=./... -race -coverprofile=coverage.txt`

But got no success. My PWD is `/Users/pulkitgupta/Desktop/<project_name>/godogs` from where I am running above command

My folder structure is as shared in SS

<img width="310" alt="Screenshot 2022-06-30 at 3 43 26 PM" src="https://user-images.githubusercontent.com/9362179/1766

[2022-06-30 10:24] vearutop commented on #483
Ah, if you're running test from a subpackage then your `-coverpkg` should refer project directory (parent), e.g. relative
`-coverpkg=../...` or more reliable absolute `-coverpkg=<your-project-module>/...`.

[2022-06-30 11:27] pulkitent commented on #483
@vearutop, I used this command `go test -test.v -test.run ^TestFeatures$ -coverpkg=../... -coverprofile=coverage.txt -covermode=set` & It worked.

But just wanted to confirm whether the coverage report I am getting by running the above command is the coverage of only the Integration tests (Godog)?
Or
That report is the total coverage of all the tests (Unit & Integration both) that I have in my rep

[2022-06-30 20:02] vearutop commented on #483
This will be a coverage report of your tests that match `^TestFeatures$` name, so I assume that would only be your integration tests.

However, removing integration tests from unit coverage might be more complicated.

A few strategies of running unit and integration tests separately are discussed here:
https://stackoverflow.com/questions/25965584/separating-unit-tests-and-integration-tests-in-go

[2022-07-07 09:31] MarcusQA opened #485 "Error "undefined: os.ReadFile" when trying to install GoDog v0.12.5 on Ubuntu 20.04"
### 👓 What did you see?

Error "undefined: os.ReadFile" when trying to install GoDog v0.12.5 on Ubuntu 20.04 using the following command:

[code]

Note that I see no such error when I install v0.12.4 using the following command:
[code]

### ✅ What did you expect to see?

No error when running the command to install GoDog v0.12.5

### 📦 Which tool/library version are you using?

GoDog v0.12.5

###

[2022-07-07 09:50] vearutop commented on #485
It seems you're having an old version of Go (less than 1.16), you can check version with `go version`.

Go has a policy of supporting two latest minor versions and `godog` sticks to that policy too. It is unfortunate that `apt` package of Go in ubuntu is usually older than minimal supported version.

[2022-07-07 09:55] MarcusQA commented on #485
Thanks for your prompt response, @vearutop. Yeah you're right:
![image](https://user-images.githubusercontent.com/23223411/177746480-045696cd-1410-4756-95ec-20107e026151.png)

[2022-07-08 08:02] pulkitent commented on #483
@vearutop, thanks for your help here. In actuality, I was missing the knowledge here :)

Hopefully, this conversation will be helpful for other newbies folks like me in future

**PS: Closing the issue :)**

[2022-07-08 08:02] #483 closed

[2022-07-12 20:28] xavimoreno548 commented on #464
I was the same problem, and after use `go install github.com/cucumber/godog/cmd/godog@upd-go1.18` with go1.18, this worked.

[2022-07-14 16:32] waytocypress commented on #325
set environment as GODOG_DEUG= true in the debug configuration and add break points where ever you want

[2022-07-19 09:59] harikamankala commented on #103
Hi,
Can you give me an example on how to use multi writer. Basically I need a html report along with running scenarios in parallel. I understand that scenarios can be run in parallel when format is 'progress'. Is it possible to generate html report while having concurrent scenarios?

[2022-07-19 10:09] waytocypress commented on #103
for each _test.go file pass format at cucumber and unique file name for json file, store those json files at one location. Then you can generate html report using multiple html reporter or cucumber html reporter. Apart from that you can use gocure report(check cucumber official website for link). Apart from this you can use allure reports, they are little tricky to configure but if you are followi

[2022-07-20 12:49] waytocypress commented on #398
you can do step binding (IDE level not saying test_main) in vscode. use cucumber full support plugin and in setting.json file add these
    "cucumberautocomplete.steps": [
        "**/*.go"
    ],
    "cucumberautocomplete.syncfeatures": "**/*.features",

[2022-07-21 14:34] wichert opened #486 "Before-Step hook not invoked for multisteps"
I have a before-Step hook to replace variables in steps. You can use it do things like this:

[code]

Normally variables are set by other steps, and they provide a convenient way to pass some context around between API calls. One use case is to test an API where I need to create a parent and a child object. I can do that using variables like so:

[code]

Doing this many times becomes tedious, espe

[2022-07-22 11:59] wichert opened #487 "Context from substeps is lost"
the `suite.maybeSubSteps` function loops over all substeps and invoked them one by one:

https://github.com/cucumber/godog/blob/5e176da4338ad55ca074f7932b1b5dd38819890f/suite.go#L349-L356

On line 352 new `ctx` and `err` variables are created in the scope of the `if` statement that shadow the `ctx` from the argument list. As soon as the if scope completes `ctx` becomes the original context that wa

[2022-07-22 13:53] wichert commented on #485
Should this ticket be closed?

[2022-07-23 01:12] #485 closed

[2022-07-25 11:43] #487 closed

[2022-07-25 11:47] wichert commented on #486
@vearutop I would like to contribute a fix for this, but I'm not sure how best to approach this. Do you have any hints?

[2022-07-25 12:09] vearutop commented on #486
I was briefly looking at this issue today in the morning and can confirm it exists.

Here is where BeforeStep is invoked https://github.com/cucumber/godog/blob/b2672bb93363c73a3d1a14f1a97784f70a78e176/suite.go#L136, it happens only for a "root-level" steps.
And here are multisteps are being invoked: https://github.com/cucumber/godog/blob/b2672bb93363c73a3d1a14f1a97784f70a78e176/suite.go#L354.

I t

[2022-07-28 13:33] harikamankala commented on #199
I am looking for this. Can we expect this feature soon in godog?

[2022-07-29 08:10] longbai opened #490 "crash when run rule example in gherkin reference"
### 👓 What did you see?

run below feature crah
https://cucumber.io/docs/gherkin/reference/#keywords
`Feature: Highlander

  Rule: There can be only One

    Example: Only One -- More than one alive
      Given there are 3 ninjas
      And there are more than one ninja alive
      When 2 ninjas meet, they will fight
      Then one ninja dies (but not me)
      And there is one ninja less alive

[2022-07-30 14:14] abigiyas-code commented on #344
Guys when I run godog after install the godog packages, I get  response of
Command 'godog' not found, did you mean:

  command 'godoc' from deb golang-golang-x-tools

Try: sudo apt install <deb name>

I am using Ubuntu 18.04

[2022-08-09 08:30] waytocypress opened #492 "godog returns wrong options values"
### 👓 What did you see?

When I want to read tag value at runtime using opts.tags the code returns values as "imeout" from last parameter -timeout
when I remove -timout parameter(go test provides this parameter) tag values are returning correctly.

### ✅ What did you expect to see?

The values should be returned as @abc && ~@pqr && ~@uvw && ~@xyz"

### 📦 Which tool/library version are you using?

[2022-08-17 10:53] harikamankala opened #497 "Retry failed tests automatically after the execution"
It would be really helpful if we have a feature to rerun the failed tests. It is common to fail one or other test when there are thousands of tests running in parallel. There can be multiple reasons for failure like network slowness, overloaded server.
Rerun option is also provided by other tools for example
ctest -> https://cmake.org/cmake/help/v3.17/manual/ctest.1.html (--repeat <mode>:<n>)
mave

[2022-08-17 12:24] vearutop commented on #492
Could you share more details about your test setup (code that configures and runs test suite)?

Please also check this discussion for an example of instrumentation: https://github.com/cucumber/godog/discussions/495#discussioncomment-3404240.

[2022-08-17 12:25] #472 closed

[2022-08-19 14:52] waytocypress commented on #492
I checked https://github.com/cucumber/godog/discussions/495#discussioncomment-3404240.
But mine is not related to that. My scripts are getting executed but not filtered based on tags I am passing.
Got go tests the filters are identified on -t or -tag, in my command line the arguments I am passing for -timeout. So go test consider imeout as tag value.
This is how init function is written
func init(

[2022-08-29 07:59] dumpsterfireproject commented on #490
This was fixed when PR 480 was merged - https://github.com/cucumber/godog/pull/480.
It should be included in the next release.

[2022-09-01 15:40] PavanMudigondaTR opened #499 "GoDog with Playwright Go"
### 🤔 What's the problem you're trying to solve?

I would like to use GoDog with Playwright Go (since playwright has good framework for API and Browser automation). Please let us know if its possible to do this ! if, yes, if you could provide some examples that would be awesome.

### ✨ What's your proposed solution?

integrate GoDog with Playwright Go (since playwright has good framework for API a

[2022-09-07 10:18] ninadingole commented on #499
I would create an example to use playwright-go with godog 👍🏻

[2022-09-07 13:17] vearutop commented on #499
I'm not aware of any library that provides `godog` step definitions to control playwright-go, but it should be relatively easy to write one. `godog` itself only provides the engine to define and run tests, it does not have any step definitions out of the box.

You can check https://github.com/godogx/httpsteps/blob/v0.2.5/local_client.go#L183 for a general example of the library that provides step

[2022-09-09 15:35] otrava7 commented on #479
Godog currently doesn't have separate functions for different step types, we just use the `Step` function which takes a regex and a function. What are peoples thoughts of introducing functions for the different keywords as a first step? Having those functions would make it possible to record the keyword type so that we may assert it when matching in order to resolve the issue detailed above.

[2022-09-21 14:52] hmoreira-meli commented on #464
This issue still happening with the `godog v0.12.5` and `Go 1.19` :(

[2022-09-30 09:34] wasim-nihal opened #501 "Execution of Scenarios based on the whether the previous scenario was passed or failed"
### 🤔 What's the problem you're trying to solve?
Trying to create a kind of dependency among the scenarios. If for example, we want to decide whether to run
a test scenario based on the status of the previous scenario (passed/failed), there is no easy solution.
 For example, let us consider scenario-1 is for the installation of service and scenario-2 is performing an operation on an installed serv

[2022-10-05 10:01] aslakhellesoy commented on #501
This feature request has come up regularly since Cucumber was created. We're not going to allow dependencies between scenarios.

Do we have a FAQ anywhere where we explain:

1. Why this is a bad idea to begin with
2. Why we won't implement it in Cucumber

[2022-10-08 22:05] #158 closed

[2022-10-17 15:58] jthebison opened #506 "Ability to define WHERE step definitions / features are located"
### 🤔 What's the problem you're trying to solve?
Attempt to centralize test code in one area, instead of all of the test code scattered across the entire project. I understand it's not necessarily idiomatic Go code, but it's more in line with how BDD test code is written in other languages.

I'm frustrated when I'm trying to run a regression on my entire project, and I have to find individual file

[2022-10-19 12:14] otrava7 commented on #479
I've gotten started on creating keyword functions and capturing the keywords. Will submit a PR once the logic for enabling unambiguous keywords is implemented:
https://github.com/cucumber/godog/compare/main...otrava7:godog:implement-unambiguous-keywords

[2022-11-07 10:28] gnoe commented on #506
Hello @sumusjack, you can define where features/steps definitions are located. Take this example as reference https://github.com/cucumber/godog/blob/main/_examples/assert-godogs/godogs_test.go.
In [contexts initialization](https://github.com/cucumber/godog/blob/main/_examples/godogs/godogs_test.go#L39) you can define the function where all scenario contexts are defined.
And in [options](https://gi

[2022-11-10 04:30] #501 closed

[2022-11-24 15:44] witgaw commented on #325
Just add a debug configuration similar to that to your `launch.json`:
[code]

You can add a line number where the `Scenario:` is defined to debug a single scenario from file, e.g. `your_feature_test.feature:102`

[2022-11-25 15:15] xenomote opened #510 "Could stepdefs which take a data table treat a missing table as empty instead of errror"
At current, to pass a stepdef a data table, it takes a parameter *godog.Table
The validations applied to stepdefs ensure that if they take parameters, that they are all provided
For steps which take a data table, if the table is not given, it will fail validation complaining of missmatched arguments
I had expected that it would instead permit this, just passing an empty table instance instead

for

[2022-11-25 18:49] roskee commented on #510
On what scenarios would it help you to use a step definition that has no data table but is implemented with a function receiving a table? godog generates functions based on the feature file step definitions - that means the source of the function structure are the step definitions. if a step has no data table associated with it godog assumes it needs none. And by the way you can pass empty tables

[2022-11-29 10:39] xenomote commented on #510
there are heavily reused stepdefs where it is convenient to express extra named values in the data table in a key-value format. this saves needing to define multiple stepdefs for every possible combination of optional values as part of a step:
[code]
This is useful in cases where there are unknown numbers and possible combinations of these optional values

In these cases, it would be convenient to